@use "bulma/sass";
@use "bulma/sass/utilities/mixins";

@use "@fortawesome/fontawesome-free/scss/variables.scss" with (
  $font-path: "@fortawesome/fontawesome-free/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";

.has-text-nowrap {
  text-wrap: nowrap;
}

.attendee-table {
  width: 100%;
  max-height: max(50vh, 500px);
  overflow-y: auto;

  border-end-start-radius: var(--bulma-panel-radius);
  border-end-end-radius: var(--bulma-panel-radius);
}

.badge-name {
  word-break: break-word;
}

.toast-container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  right: 0;
  top: 0;
  text-align: right;
  align-items: flex-end;
  z-index: 100;
}

.toast {
  width: auto;
  display: inline-flex;
}

.dropdown-menu .dropdown-item.is-disabled {
  color: var(--bulma-text-soft);
  cursor: default;
  pointer-events: none;
}

@include mixins.tablet {
  .badge-actions {
    flex-wrap: nowrap;
  }
}
