@use "bulma/sass";

@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss" with (
  $fa-font-path: "@fortawesome/fontawesome-free/webfonts"
);

.has-text-nowrap {
  text-wrap: nowrap;
}

.attendee-table {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;

  border-end-start-radius: var(--bulma-panel-radius);
  border-end-end-radius: var(--bulma-panel-radius);
}
