{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Registration - Furrydelphia 2019</h1>
		<h3>Thank you for your Dealers Den Payment!</h3>
		<hr>
        <p>Salutations Vendors,</p>
        <p>Thank you for participating in Furrydelphia's Dealers Den! We look forward to seeing you. If you have any questions or concerns, please email <a href="mailto:marketplace@reg.furrydelphia.org">marketplace@reg.furrydelphia.org.</a> </p>
		<p style='float:right;'><a href='http://www.furrydelphia.org'>Back to Main Page</a></p>
                <p>You should be receiving an email confirmation and receipt shortly.</p>
	</div>
	</div>
{% endblock %}
