{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Partners - Furthemore 2018</h1>
		<h3>Thank you for your Marketplace Payment!</h3>
		<hr>
        <p>Salutations Sakura Festival Vendor,</p>
		<p>Thank you for adding a dealer partner to your order. If you have any questions or concerns, please email <a href='mailto:marketplace@furthemore.org'>marketplace@furthemore.org</a>.</p>
		<p style='float:right;'><a href='http://www.furthemore.org'>Back to Main Page</a></p>
                <p>You should be receiving an email confirmation shortly.</p>
	</div>
	</div>
{% endblock %}
