{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Registration - {{event}}</h1>
		<h3>Thank you for your Marketplace Application!</h3>
		<hr>
		<p>The cut off date for primary applicants will be Nov 19th at 11:59pm, and selections will be made/notifications sent by November 20th. </p>
		<p>If you have not received an acceptance notification by that date, you will be placed on the waitlist for the next available spot. If you have any questions, please feel free to contact us: <a href="mailto:marketplace@furthemore.org">marketplace@furthemore.org</a></p>
		<p>If you have listed any partners, they will receive an email with instructions about how to register after your payment has been received.</p>
		<p>Thank you!</p>
		<p style='float:right;'><a href='http://www.furthemore.org'>Back to Main Page</a></p>
	</div>
	</div>
{% endblock %}
