{% extends "registration/master.html" %}

{% block content %}


<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buttons for a Cause</h4>
      </div>
      <div class="modal-body">
        <p>As an effort to further support our selected annual charity, Frisky’s Primate and Wildlife Sanctuary, we are asking Marketplace and Artist Alley participants to provide incentives for those who donate. For a donation of $5 or more, the donator will receive a free "A Furry for Frisky’s" button. We humbly ask as  a community, that we come together and help support this worthy cause. </p>
    <p>Suggestions for incentives: a percentage or amount off of a purchase or a free gift to attendees posessing the button.  If you are interested, please let us know what incentive you would like to offer and we will list your business and incentive on the Fur The More website along with signs at the charity donation table. </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
      </div>
      <div class="modal-body">
        <p>Due to state and federal laws, minors may not sell merchandice in our Marketplace. You must be 18 years of age or older before the start of the convention to be a dealer. </p>
    <p>Please contact <a href="mailto:marketplacehead@furthemore.org">marketplacehead@furthemore.org</a> if you have any questions.</p>
      </div>
    </div>
  </div>
</div>

    <form class="form-horizontal" role="form" data-toggle="validator">
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personal">
        <h1>Dealer Registration - Furthemore 2018</h1>
        <p>Welcome to the registration system. To continue, enter your information below.</p>
        <hr>

            
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus required data-error="First name is required. ">
                    </div>
            <div class="col-sm-5">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus required data-error="Last name is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" required data-error="Email is required.">
                        <label>
                          <input type="checkbox" id="contact" checked="true"> <span class="control-label" >Please keep me up to date with convention related information.</span>
                        </label>
                        <label>
                          <input type="checkbox" id="survey" checked="true"> <span class="control-label" >Please send me the end-of-con survey.</span>
                        </label>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="phone" id="phone" placeholder="Phone Number" class="form-control" required data-error="Phone number is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" id="add1" placeholder="Address Line 1" class="form-control" required data-error="Address is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" id="add2" placeholder="Address Line 2" class="form-control">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City/State</label>
            <div class="col-sm-4">
            <input type="text" name="city" id="city" placeholder="City" class="form-control" required data-error="City is required. ">
            </div>
                    <div class="col-sm-5">
            <select class="form-control bfh-states" id="state" data-country="US" data-state="VA" name="state"></select>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">ZIP/Country</label>
            <div class="col-sm-3">
            <input type="text" name="zip" id="zip" placeholder="ZIP Code" class="form-control" data-minlength="5" data-error="Zip code is required.">
            </div>
                    <div class="col-sm-6">
            <select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                
            <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control" placeholder="Select birthdate (mm/dd/yyyy)" />
            <p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

            <div class="form-group">
                    <label for="far" class="col-sm-3 control-label">Badge Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="badgename" name="badgename" placeholder="Badge Name" class="form-control form-control-text" />
                    </div>
            </div>

        <p>&nbsp;</p>            
        <h2>Business Information</h2>
        <p>Fill out the information related to your business below.</p>
        <hr>
                <div class="form-group">
                    <label for="businessName" class="col-sm-3 control-label">Business Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="businessName" name="businessName" placeholder="Business Name" class="form-control form-control-text" required>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="license" class="col-sm-3 control-label">Virginia Tax License</label>
                    <div class="col-sm-9">
                        <input type="text" id="license" name="license" placeholder="VA Tax License" class="form-control form-control-text" required>
            
                        <label>
                            <input type="checkbox" id="tempLicense" /> I need a temporary tax license for VA.
                        </label>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-sm-3 control-label">Website</label>
                    <div class="col-sm-9">
                        <input type="url" id="website" name="website" placeholder="http://www.mysite.org" class="form-control form-control-text" required data-error="Please enter a full URL here. Ex: http://www.google.com" />
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Description of Wares</label>
                    <div class="col-sm-9">
                        <textarea id="description" name="description" class="form-control form-control-textarea" required></textarea>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="breakfast" class="col-sm-3 control-label">I would like the daily complimentary continental breakfast</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="breakfast" name="breakfast" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reception" class="col-sm-3 control-label">I will attend the Dealer's Reception</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="reception" name="reception" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="artShow" class="col-sm-3 control-label">I have items to place in the Art Show</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="artShow" name="artShow" class="form-control form-control-checkbox" />
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small">We will contact you seperately with instructions and guidelines for how to submit art to the art show.</div>
                </div>
                <div class="form-group">
                    <label for="buttonOffer" class="col-sm-3 control-label">My offer for "Buttons for a Cause"</label>
                    <div class="col-sm-9">
                        <textarea id="buttonOffer" name="buttonOffer" class="form-control form-control-textarea"> </textarea>
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small"><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#buttonModal" >What's this?</button></div>
                </div>
                <div class="form-group">
                    <label for="charityRaffle" class="col-sm-3 control-label">I have these items to donate to the Charity Raffle</label>
                    <div class="col-sm-9">
                        <textarea id="charityRaffle" name="charityRaffle" class="form-control form-control-textarea"> </textarea>
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small">Any donation provided is tax deductible. Please see the charity onsite for additional information and receipts.</div>
                </div>

        <p>&nbsp;</p>
        <h2>Placement Options</h2>
        <p>The options below may limit where you can be placed in our Marketplace.</p>
        <hr/>
                <div class="form-group">
                    <label for="wifi" class="col-sm-3 control-label">I do need Wi-Fi</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="wifi" name="wifi" class="form-control form-control-checkbox" />
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small">This option adds $50 to your table price. You will receive Wi-Fi access details in your welcome packet at the con.</div>
                </div>
                <div class="form-group">
                    <label for="wall" class="col-sm-3 control-label">I would like a wall space<br/>(Space is limited)</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="wall" name="wall" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="switch" class="col-sm-3 control-label">I will consider different table types</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="switch" name="switch" class="form-control form-control-checkbox" />
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small">If the table/booth type I selected is no longer available, I am willing to be assigned a different spot type (Table to booth or booth to table). You can decide to decline a dealer spot if you'd rather not have the spot type assigned in this way. If you accept, you will be responsible for any difference in price.</div>
                </div>
                <div class="form-group">
                    <label for="tableSize" class="col-sm-3 control-label">Space Type</label>
                    <div class="col-sm-9">
                        <select id="tableSize" class="form-control form-control-select" ></select>
            <div id="tableSizeDescription"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="chairs" class="col-sm-3 control-label">Chair Count</label>
                    <div class="col-sm-9">
                        <input type="number" id="chairs" name="chairs" class="form-control form-control-text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Table Count</label>
                    <div class="col-sm-9">
                        <input type="number" id="tables" name="tables" class="form-control form-control-text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Partner Information</label>
                    <div class="col-sm-9" id="partnerList">
                    </div>
                </div>
                <div class="form-group">
                    <label for="asstbreakfast" class="col-sm-3 control-label">I want to pay for breakfast for my partners</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="asstbreakfast" name="asstbreakfast" class="form-control form-control-checkbox" />
                    </div>
                <div class="col-sm-9 col-sm-offset-3 small">You will be charged an additional $60 per partner for this option.</div>
                </div>
                <div class="form-group">
                    <label for="near" class="col-sm-3 control-label">I would like to be near this person</label>
                    <div class="col-sm-9">
                        <input type="text" id="near" name="near" placeholder="Business or Person" class="form-control form-control-text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="far" class="col-sm-3 control-label">I would like to NOT be near this person</label>
                    <div class="col-sm-9">
                        <input type="text" id="far" name="far" placeholder="Business or Person" class="form-control form-control-text" />
                    </div>
                </div>
        <hr/>
             <div>
                 <div>
                      <label>
                            <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-control-checkbox" required>
            I have read and understand the rules pertaining to both Furthemore and the Markeplace. I agree to abide by these rules and by Furthemore's Code of Conduct.
                      </label>
                 </div>
                 <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
            </div>


        <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="register" type="submit" class="btn btn-primary col-sm-6 pull-right" aria-controls="profile" data-toggle="tab">Submit</button>
            </div>
                </div>
    </div>
    {% csrf_token %}
    </div>
    </form>

{% endblock %}

{% block javascript %}

 <script type="text/javascript">
    var tableSizes = [];
    $( "body" ).ready(function() {
        if (!Modernizr.inputtypes.date) {
            $("#birthDate").datepicker({
                changeMonth: true,
                changeYear: true
            });
        }
                $.getJSON("{% url 'tablesizes' %}", function(data) {
                        tableSizes = data;
            $.each(tableSizes, function (key, item) {
                $("#tableSize").append("<option value='" + item.id + "'>" + item.name + " ($" + item.basePrice + ")</option>");
                if (key == 0) { 
                    $("#tableSizeDescription").text(item.description); 
                    setTableInfo(item.id);
                }
            });
                });
        });
    $("#tableSize").on("change", function() {
        var id = $(this).val();
        $.each(tableSizes, function (key, item) {
            if (item.id == id){ 
                $("#tableSizeDescription").text(item.description);
                setTableInfo(id);
            }
        });     
    });

    $("#next-personal").click(function() {
        window.scrollTo(0, 0);
    });
    
    $("#next-optional").click(function() {
        window.scrollTo(0, 0);
    });


    function setTableInfo(id){
        $.each(tableSizes, function (key, item) {
            if (item.id == id){
                if (item.chairMin == item.chairMax){
                    $("#chairs").val(item.chairMin).attr("disabled", "disabled");
                } else {
                    $("#chairs").val(item.chairMin).attr("min", item.chairMin).attr("max", item.chairMax).removeAttr("disabled");
                }
                if (item.tableMin == item.tableMax){
                    $("#tables").val(item.tableMin).attr("disabled", "disabled");
                } else {
                    $("#tables").val(item.tableMin).attr("min", item.tableMin).attr("max", item.tableMax).removeAttr("disabled");
                }
                $("#partnerList").empty();
                if (item.partnerMax > 0){
                    for (var i=item.partnerMin; i <= item.partnerMax; i++) {
                        var partner = '<input type="text" id="name_' + i + '" class="form-control form-control-text" placeholder="Partner Name" />' +
                                  '<input type="email" id="email_' + i + '" class="form-control form-control-text" placeholder="Partner Email" />' + 
                                  '<input type="text" id="license_' + i + '" placeholder="Partner Tax License" class="form-control form-control-text" />' + 
                                  '<label><input type="checkbox" id="tempLicense_' + i + '" class="partnerLicense" /> This partner needs a temporary license.</label><br/>'
                        $("#partnerList").append(partner);
                        if (i != item.partnerMax){$("#partnerList").append("<br/>");}
                    }
                    $("#partnerList").append("<span class='small'>If any partner will be selling their own merchandice, they must provide their license number or request a temporary license from the convention.</span>");
                    $(".partnerLicense").click(partnerLicense);
                }
            }
        });     
    };

    $("#country").on("change", function() {
        if ($(this).val() == "US"){
            $("#state").val("VA").removeAttr("disabled").attr("required", "required");
            $("#zip").val("").removeAttr("disabled").attr("required", "required");
        } else {
            $("#state").val("").attr("disabled", "disabled").removeAttr("required");
            $("#zip").val("").attr("disabled", "disabled").removeAttr("required");
        }
    });

    $("#tempLicense").on("click", function () {
        if ($(this).is(":checked")) {
            $("#license").val("temporary").attr("disabled", "disabled");
        } else {
            $("#license").val("").removeAttr("disabled");
        }
    });
    function partnerLicense() {
        var id = this.id.split('_')[1];
        if ($(this).is(":checked")) {
            $("#license_" + id).val("temporary").attr("disabled", "disabled");
        } else {
            $("#license_" + id).val("").removeAttr("disabled");
        }
    }

    $("#register1").click(doRegister);

    $("#register").click(doRegister);
    
    function getPartners(){
        var partners = "";
        var partnerList = $("#partnerList input");
        $.each(partnerList, function(key, item) {
            if ($(item).is(':checkbox')) {
                partners += item.id + ": " + $(item).is(':checked') + ", ";                 
            } else {
                partners += item.id + ": " + $(item).val() + ", "; 
            }
        });
        return partners;
    }

    function doRegister() {
        $("form").validator('validate');
        var errorCount = $(".has-error").length;
        if (errorCount > 0) {return;}
        if ($("#birthDate").val() == "") {
            alert("You must enter your birthdate to submit your application.");
            return;
        } 
        if (Modernizr.inputtypes.date) {
            // native datepicker - expect ISO date
            var birthdate = parseDate($("#birthDate").val());
        } else {
            // American middle-endian format put out by datepicker javascript
            var birthdate = new Date(Date.parse($("#birthDate").val()));
        }
        var age = getAge(birthdate);
        if (age < 18){
            alert("You must be 18 by the first day of Furthemore to be a dealer.");
            return;
        }

        var data = {
            'attendee': {
                'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(), 
                'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(), 
                'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
                'phone': $("#phone").val(), 'email': $("#email").val(), 'birthdate': toDateFormat(birthdate),
                'emailsOk': $("#contact").is(':checked'), 'surveyOk': $("#survey").is(':checked'), 
                'badgeName': $("#badgename").val()
            }, 
            'dealer': {
                'businessName':$("#businessName").val(), 'website':$("#website").val(),
                'license':$("#license").val(), 'power': true, 'wifi':$("#wifi").is(':checked'),
                'wall':$("#wall").is(':checked'), 'near':$("#near").val(), 'far':$("#far").val(),
                'description': $("#description").val(), 'tableSize': $("#tableSize").val(),  
                'chairs': $("#chairs").val(), 'partners': getPartners(), 'tables': $("#tables").val(),
                'reception': $("#reception").is(':checked'), 'artShow': $("#artShow").is(':checked'), 
                'charityRaffle': $("#charityRaffle").val(), 'agreeToRules': $("#agreeToRules").is(':checked'),
                'breakfast': $('#breakfast').is(':checked'), 'switch': $('#switch').is(':checked'),
                'buttonOffer': $('#buttonOffer').val(), 'asstbreakfast': $('#asstbreakfast').is(':checked')
            },
            'event': 'Furthemore 2018'
        };
        $.ajax({
            "type": "POST",
            "dataType": "json",
            "url": "{% url 'addNewDealer' %}",
            "data": JSON.stringify(data),
            "beforeSend": function(xhr, settings) {
                console.log("Before Send");
                $.ajaxSettings.beforeSend(xhr, settings);
            },
            "error": function(result, status, error) {
                        alert("An error has occurred. Please contact marketplacehead@furthemore.org and we will correct the problem.")
            },
                    "success": function () {
                        window.location = "{% url 'thanksDealer' %}";
                    }
        });
    }



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
