# Square API secrets
export SQUARE_APPLICATION_ID=
export SQUARE_ACCESS_TOKEN=
export SQUARE_LOCATION_ID=
export SQUARE_WEBHOOK_SIGNATURE_KEY=

# MQTT secrets
export MQTT_JWT_SECRET=

# SMTP server secrets
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=

# GitHub docker repository secrets
export GITHUB_USER=
export GITHUB_CR_PAT=
