*.pyc
fm_eventmanager/dev.py
fm_eventmanager/settings.py
^static/
venv/
db.sqlite3
test-db.sqlite3
registration/resources/nametag/apis/tmp*.html
.idea/
.coverage
.envrc
fm_eventmanager/maintenance_mode_state.txt
localhost.crt
localhost.key
venv3/
.env
