*.pyc
__pycache__/
fm_eventmanager/dev.py
fm_eventmanager/settings.py
fm_eventmanager/settings.py.bak
^static/
venv/
db.sqlite3
test-db.sqlite3
test-db.sqlite3-journal
registration/resources/nametag/apis/tmp*.html
.idea/
.coverage
.envrc
fm_eventmanager/maintenance_mode_state.txt
localhost.crt
localhost.key
venv3/
.env
htmlcov/
.DS_Store
pgdb/
node_modules/
.python-version
