*.pyc
convention_event_manager_django_site/dev.py
convention_event_manager_django_site/settings.py
convention_event_manager_django_site/settings.py.bak
^static/
venv/
db.sqlite3
test-db.sqlite3
registration/resources/nametag/apis/tmp*.html
.idea/
.coverage
convention_event_manager_django_site/maintenance_mode_state.txt
localhost.crt
localhost.key
venv3/
.env
htmlcov/
.DS_Store
.direnv/
__pycache__/
