default_language_version:
    python: python2.7

exclude: venv/|static/

repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-builtin-literals
      - id: trailing-whitespace
      - id: end-of-file-fixer
      #- id: flake8
      - id: check-ast
      - id: mixed-line-ending
        args: [--fix=lf]

#  - repo: https://github.com/pre-commit/mirrors-autopep8
#    rev: "v1.4.4"
#    hooks:
#      - id: autopep8

  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black

# Not supported with Django templates right now :(
#  - repo: https://github.com/prettier/prettier
#    rev: "1.19.1"
#    files: \.(js|css)$
#    hooks:
#      - id: prettier
