# NOTE: There is no special handling of quotation marks.
# XXX This means that they are part of the VAL XXX

# Contact information
APIS_ADMIN_NAME=George
APIS_ADMIN_EMAIL=admin@example.com
APIS_DEFAULT_EMAIL=registration@example.com
APIS_DEALER_HEAD=marketplace@example.com
APIS_STAFF_HEAD=staff@example.com

# Django
DJANGO_SECRET_KEY=supersecretcrypt
DJANGO_LOGLEVEL=info
# Don't run with debug in production!
DJANGO_DEBUG=1
DJANGO_SERVER_EMAIL=no-reply@example.com
TZ=America/New_York

DATABASE_HOST=postgres
DATABASE_NAME=apis
DATABASE_USER=apis
DATABASE_PASS=secret
#DATABASE_PORT

# Admin environment banner
ENVIRONMENT_NAME="Development server"
ENVIRONMENT_COLOR="#00FF00"
ENVIRONMENT_FLOAT=True

# Square
SQUARE_APPLICATION_ID=sandbox-sq0i-.....
SQUARE_ACCESS_TOKEN=AAA...
SQUARE_LOCATION_ID=...
SQUARE_CURRENCY=USD
# sandbox or production
SQUARE_ENVIRONMENT=sandbox

# Email
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=noreply@example.org
EMAIL_HOST_PASSWORD=secret
EMAIL_USE_TLS=false

# Register Android app
REGISTER_KEY=df14e4d5469e801dbc8e1df4eebd97b3
REGISTER_PRINTER_URI=https://print.example.com:5000
#REGISTER_ENDPOINT=
#REGISTER_DEFAULT_WEBVIEW=
#REGISTER_SQUARE_LOCATION=
#REGISTER_FORCE_LOCATION=

# Android app push notifications (Pushy.me)
CLOUD_MESSAGING_KEY=
