django>=1.11.17
django-mathfilters==0.4.0
django-nested-inline==0.3.7
django-import-export>=1.1.0
psycopg2-binary>=2.7.1
configobj==5.0.6
django-extensions==2.1.4
django-guardian==1.4.9
django-flat-responsive==2.0
django-widget-tweaks==1.4.3
squareconnect==2.20181212.0
pyOpenSSL==18.0.0
django-u2f==0.3.0
Pillow>=5.3
#Devel
Werkzeug
django-debug-toolbar
