django~=1.11.28
django-mathfilters~=0.4.0
django-nested-inline~=0.3.7
django-nested-admin~=3.2.4
django-import-export~=1.1.0
psycopg2-binary~=2.7.1
configobj==5.0.6
django-extensions==2.1.4
django-guardian==1.4.9
django-flat-responsive==2.0
django-widget-tweaks==1.4.3
squareup==4.1.0.20200122
pyOpenSSL==18.0.0
django-u2f==0.3.0
django-maintenance-mode==0.14.0
Pillow>=5.3
influxdb==5.2.3
Werkzeug==0.15.3
django-debug-toolbar==1.11
mock==3.0.5
paho-mqtt==1.5.0
