{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{{ block.super }}

<div id="u2f-not-defined-error" style="display: none" class="alert alert-danger">
    {% blocktrans %}
    You must be using a compatible browser to use a U2F security key.
    The following browsers are known to be compatible with the FIDO U2F standard:
    {% endblocktrans %}
    <ul>
      <li>{% trans 'Chrome 41 and higher' %}
      <li>{% trans 'Firefox 57 and higher' %}
    </ul>
</div>
{% endblock %}
