{% extends "registration/master.html" %}

{% load registration_tags static %}

{% block content %}

  <div class="modal fade" id="ageModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Staff must be over the age of 18.</p>
          <p>Please contact <a href="mailto:{{ event.staffEmail }}">{{ event.staffEmail }}</a> if you have any
            questions.</p>
        </div>
      </div>
    </div>
  </div>

  {% if not token %}
    <h1>New Staff Registration <br/>{{ event }}</h1>
    <p>Your session has expired. Please use the link in your registration email again to start over.</p>
  {% else %}

    <form class="form-horizontal" novalidate>
      <h1>New Staff Registration <br/>{{ event }}</h1>

      <p>Please review and update the information below. If you have any questions about this form, please contact
        <a href='mailto:{{ event.staffEmail }}'>{{ event.staffEmail }}</a>. Required fields are marked with a red
        asterisk (<span class="text-danger">*</span>)</p>

      {% show_attendee_form event=event %}

      {% show_staff_form staff %}

      <hr/>
      <h3>Badge Level</h3>
      <br/>
      {% show_price_types %}
      <br/>
      <hr/>

      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-check-input" required>
          <label class="form-check-label" for="agreeToRules">
            I agree to abide by the {{ event.name }} <a href="{{ event.codeOfConduct }}" target="_blank">Code of
            Conduct</a>. By registering for {{ event }} you attest that you are not listed on any sexual offender
            registry.
          </label>
          <div class="invalid-feedback">You must agree to the event code of conduct to register.</div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-end">
          <button id="register" type="submit" class="btn btn-primary" aria-controls="profile">Register
          </button>
        </div>
      </div>
      {% csrf_token %}
    </form>

  {% endif %}

{% endblock %}

{% block javascript %}
  <script>
      let discount = {%  if event.newStaffDiscount.amountOff %}{{event.newStaffDiscount.amountOff}}{% else %}0{% endif %};
      let paid_total = {{ paid_total|default:0 }};
  </script>
  <script type="text/javascript" src="/static/js/templates/price-types.js"></script>
  <script type="text/javascript" src="/static/js/templates/staff.js"></script>
  <script type="text/javascript">

      function doRegister(e) {
          e.preventDefault();
          if (!formIsValid()) {
              $(this).one("click", doRegister);
              return;
          }

          // Validate birthdate input
          if ($("#birthDate").val() == "") {
              alert("You must enter your birthdate to submit your registration.");
              $(this).one("click", doRegister);
              return;
          }

          let birthdate;
          birthdate = new Date(Date.parse($("#birthDate").val()));
          let age = getAgeByEventStart(birthdate);
          if (age < 18) {
              alert("You must be 18 by the first day of the event to register online.");
              $(this).one("click", doRegister)
              return;
          }

          $("#register").attr("disabled", "disabled");

          let data = {
              'attendee': {
                  'firstName': $("#firstName").val(),
                  'lastName': $("#lastName").val(),
                  'preferredName': $("#preferredName").val(),
                  'address1': $("#add1").val(),
                  'address2': $("#add2").val(),
                  'city': $("#city").val(),
                  'state': $("#state").val(),
                  'country': $("#country").val(),
                  'postal': $("#zip").val(),
                  'birthdate': $("#birthDate").val(),
                  'phone': $("#phone").val(),
                  'email': $("#email").val(),
                  'badgeName': $("#badgeName").val()
              },
              'staff': {
                  'twitter': $("#twitter").val(), 'telegram': $("#telegram").val(),
                  'shirtsize': $("#shirt").val(), 'specialSkills': $("#skills").val(),
                  'specialFood': $("#food").val(), 'specialMedical': $("#medical").val(),
                  'contactPhone': $("#contactPhone").val(), 'contactName': $("#contactName").val(),
                  'contactRelation': $("#contactRel").val(),
              },
              'priceLevel': {'id': $(".selectLevel")[0].id.split('_')[1], 'options': getOptions()},
              'event': '{{event}}'
          };


          $.ajax({
              "type": "POST",
              "dataType": "json",
              "url": "{% url 'registration:add_new_staff' %}",
              "data": JSON.stringify(data),
              "beforeSend": function (xhr, settings) {
                  console.log("Before Send");
                  $.ajaxSettings.beforeSend(xhr, settings);
              },
              "error": function (result, status, error) {
                  if (result.responseText == "") {
                      alert("Your session has expired.");
                  } else {
                      alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact {{ event.staffEmail }} for assistance.")
                  }
                  $("#register").removeAttr("disabled").one("click", doRegister);
              },
              "success": function (result, status) {
                  if (result.success) {
                      window.location = "{% url 'registration:cart' %}";
                  } else {
                      alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact {{ event.staffEmail }} for assistance.")
                  }
                  $("#register").removeAttr("disabled").one("click", doRegister);
              }
          });
      }


      $(document).ready(function () {
        $("#register").one("click", doRegister);
      });

  </script>

  <script src="{% static 'js/date-entry.js' %}"></script>

{% endblock %}
