<hr/>

<h3>Convention Info</h3>
{% if staff %}
<p>If your department and/or title are not correct, contact the Staff Services department to have it corrected.</p>
{% endif %}

<div class="row mb-3">
  <label for="badgeName" class="col-sm-3 col-form-label">Badge Name <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" name="badgeName" id="badgeName" value="{{badge.badgeName}}" placeholder="Badge Name"
           class="form-control" required>
    <div class="invalid-feedback">Badge name is required.</div>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

{% if staff %}
<div class="row mb-3">
  <label for="department" class="col-sm-3 col-form-label">Department</label>
  <div class="col-sm-9">
    <input id="department" name="department" class="form-control" value="{{staff.department}}" disabled/>
  </div>
</div>

<div class="row mb-3">
  <label for="title" class="col-sm-3 col-form-label">Title</label>
  <div class="col-sm-9">
    <input type="text" id="title" name="title" value="{{staff.title}}" placeholder="Title" class="form-control" disabled>
  </div>
</div>
{% endif %}

<div class="row mb-3">
  <label for="shirt" class="col-sm-3 col-form-label">Shirt Size <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <select id="shirt" name="shirtsize" class="form-select" required{% if staff.shirtsize %} data-value="{{ staff.shirtsize.id }}"{% endif %}>
      <option value="">-- Select One --</option>
    </select>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<hr/>

<h3>Emergency Contact Info</h3>

<div class="row mb-3">
  <label for="contactName" class="col-sm-3 col-form-label">Name <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" id="contactName" name="contactName" value="{{staff.contactName}}"
           placeholder="Contact Name" class="form-control" required>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<div class="row mb-3">
  <label for="contactRel" class="col-sm-3 col-form-label">Relationship <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" id="contactRel" name="contactRel" value="{{staff.contactRelation}}"
           placeholder="Relationship To You" class="form-control" required>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<div class="row mb-3">
  <label for="contactPhone" class="col-sm-3 col-form-label">Phone Number <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="tel" id="contactPhone" name="contactPhone" value="{{staff.contactPhone}}"
           placeholder="Phone Number" class="form-control" required>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<hr/>

<h3>Other Info</h3>

<div class="row mb-3">
  <label for="bluesky" class="col-sm-3 col-form-label">Bluesky Handle</label>
  <div class="col-sm-9">
    <input type="text" id="bluesky" value="{{staff.bluesky}}" name="bluesky"
           placeholder="@username.bsky.social" class="form-control"/>
  </div>
</div>

<div class="row mb-3">
  <label for="telegram" class="col-sm-3 col-form-label">Telegram Handle</label>
  <div class="col-sm-9">
    <input type="text" id="telegram" value="{{staff.telegram}}" name="telegram"
           placeholder="@somefurry" class="form-control"/>
  </div>
</div>

<div class="row mb-3">
  <label for="medical" class="col-sm-3 col-form-label">Medical Needs <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" id="medical" name="medical" value="{{staff.specialMedical}}" class="form-control" required/>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<div class="row mb-3">
  <label for="food" class="col-sm-3 col-form-label">Dietary Needs <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" id="food" name="food" value="{{staff.specialFood}}" class="form-control" required/>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>

<div class="row mb-3">
  <label for="skills" class="col-sm-3 col-form-label">Additional Skills <span class="text-danger">*</span></label>
  <div class="col-sm-9">
    <input type="text" id="skills" name="skills" value="{{staff.specialSkills}}" class="form-control" required/>
  </div>
  <div class="offset-sm-3 col-sm-9">
    <div class="invalid-feedback with-errors"></div>
  </div>
</div>
