{% load registration_tags %}

<div class="form-group">
    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name <span style="color:red;">*</span></label>
    <div class="col-sm-4">
        <input autocomplete="given-name" autofocus class="form-control" data-error="First name is required"
               id="firstName" placeholder="Legal First Name" required type="text" value="{{attendee.firstName}}"/>
    </div>
    <div class="col-sm-5">
        <input autocomplete="family-name" class="form-control" data-error="Last name is required" id="lastName" placeholder="Last Name"
               required type="text" value="{{attendee.lastName}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="preferredName" class="col-sm-3 control-label">Preferred First Name</label>
    <div class="col-sm-4">
        <input autocomplete="off" class="form-control" id="preferredName" placeholder="Preferred First Name"
               type="text" value="{{attendee.preferredName}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input autocomplete="email" class="form-control" data-error="Email is required" id="email" placeholder="Email" required
               type="email" value="{{attendee.email}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

{% if emailOptions %}
<div class="form-group">
   <label class="col-sm-3">&nbsp;</label>
   <div class="col-sm-9">
       <label>
           <input id="contact" type="checkbox"/><span class="control-label">Please keep me up to date with convention related information.</span>
       </label>
       <label>
           <input id="survey" type="checkbox"/><span class="control-label">Please send me the post-con survey.</span>
       </label>
   </div>
</div>
{% endif %}

<div class="form-group">
    <label for="phone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input autocomplete="tel" class="form-control" data-error="Phone number is required" id="phone" placeholder="Phone Number" required
               type="tel" value="{{attendee.phone}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

{% if event.collectAddress %}
<div class="form-group">
    <label for="add1" class="col-sm-3 control-label">Address <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input autocomplete="address-line1" class="form-control" data-error="Address is required" id="add1" name="add1"
               placeholder="Address Line 1" required type="text" value="{{attendee.address1}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-9">
        <input autocomplete="address-line2" class="form-control" id="add2" name="add2" placeholder="Address Line 2"
               type="text" value="{{attendee.address2}}"/>
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="city" class="col-sm-3 control-label">City/State <span style="color:red;">*</span></label>
    <div class="col-sm-4">
        <input autocomplete="address-level2" class="form-control" data-error="City is required" id="city" name="city" placeholder="City"
               required type="text" value="{{attendee.city}}"/>
    </div>
    <div class="col-sm-5">
        <select autocomplete="address-level3" class="form-control bfh-states"
                {% if event.venue %}
                data-country="{{attendee.country|default:event.venue.country }}"
                data-state="{{attendee.state|default:event.venue.state }}"
                {% else %}
                data-country="{{ attendee.country }}"
                data-state="{{ attendee.state }}"
                {% endif %}

                id="state" name="state" required></select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="country" class="col-sm-3 control-label">ZIP/Country <span style="color:red;">*</span></label>
    <div class="col-sm-3">
        <input autocomplete="postal-code" class="form-control" data-error="Zip code is required" data-minlength="1" id="zip"
               name="zip" placeholder="ZIP Code" required type="text"
               value="{{attendee.postalCode}}"/>
    </div>
    <div class="col-sm-6">
        <select autocomplete="country" class="form-control bfh-countries"
                {% if event.venue %}
                data-country="{{ attendee.country|default:event.venue.country }}"
                {% else %}
                data-country="{{ attendee.country }}"
                {% endif %}
                id="country" name="country" required></select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>
{% else %}
    <input type="hidden" name="address1" value="">
    <input type="hidden" name="address2" value="">
    <input type="hidden" name="city" value="">
    <input type="hidden" name="state" value="">
    <input type="hidden" name="country" value="">
    <input type="hidden" name="zip" value="">
{% endif %}
<hr>

<div class="form-group">
    <label for="birthDate" class="col-sm-3 control-label">Date of Birth <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <div class="col-sm-3">
          <input type="number" name="byear" id="byear" class="form-control" placeholder="Year" value="{{attendee.birthdate|date:"Y"}}" max="{% now "Y" %}" min="1900" maxlength="4" required autocomplete="bday-year" />
        </div>

        <div class="col-sm-5">
          <select autocomplete="bday-month" class="form-control" id="bmonth" name="bmonth" required>
            <option value="">Month</option>
            <option value="01" {% selected_if_month attendee.birthdate 1 %}>January</option>
            <option value="02" {% selected_if_month attendee.birthdate 2 %}>February</option>
            <option value="03" {% selected_if_month attendee.birthdate 3 %}>March</option>
            <option value="04" {% selected_if_month attendee.birthdate 4 %}>April</option>
            <option value="05" {% selected_if_month attendee.birthdate 5 %}>May</option>
            <option value="06" {% selected_if_month attendee.birthdate 6 %}>June</option>
            <option value="07" {% selected_if_month attendee.birthdate 7 %}>July</option>
            <option value="08" {% selected_if_month attendee.birthdate 8 %}>August</option>
            <option value="09" {% selected_if_month attendee.birthdate 9 %}>September</option>
            <option value="10" {% selected_if_month attendee.birthdate 10 %}>October</option>
            <option value="11" {% selected_if_month attendee.birthdate 11 %}>November</option>
            <option value="12" {% selected_if_month attendee.birthdate 12 %}>December</option>
          </select>
        </div>

        <div class="col-sm-3">
          <input type="number" name="bday" id="bday" class="form-control" placeholder="Day" value="{{attendee.birthdate|date:"d"}}" max="31" min="1" maxlength="2" required autocomplete="bday-day" />
        </div>

        <input type="hidden" name="birthDate" id="birthDate" value="{{attendee.birthdate|date:"Y-m-d"}}{{ attendee.dob }}">

        <p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>
