{% load registration_tags %}

<div class="form-group">
    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name <span style="color:red;">*</span></label>
    <div class="col-sm-4">
        <input type="text" id="firstName" value="{{attendee.firstName}}" placeholder="Legal First Name" class="form-control" autofocus required="required" data-error="First name is required. ">
    </div>
    <div class="col-sm-5">
        <input type="text" id="lastName" value="{{attendee.lastName}}" placeholder="Last Name" class="form-control" autofocus required="required" data-error="Last name is required.">
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="preferredName" class="col-sm-3 control-label">Preferred First Name</label>
    <div class="col-sm-4">
        <input type="text" id="preferredName" value="{{attendee.preferredName}}" placeholder="Preferred First Name" class="form-control">
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="email" id="email" value="{{attendee.email}}" placeholder="Email" class="form-control" required="required" data-error="Email is required." />
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

{% if emailOptions %}
<div class="form-group">
   <label class="col-sm-3">&nbsp;</label>
   <div class="col-sm-9">
       <label>
           <input type="checkbox" id="contact"> <span class="control-label" >Please keep me up to date with convention related information.</span>
       </label>
       <label>
           <input type="checkbox" id="survey"> <span class="control-label" >Please send me the post-con survey.</span>
       </label>
   </div>
</div>
{% endif %}

<div class="form-group">
    <label for="phone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="tel" id="phone" value="{{attendee.phone}}" placeholder="Phone Number" class="form-control" required data-error="Phone number is required.">
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

{% if event.collectAddress %}
<div class="form-group">
    <label for="add1" class="col-sm-3 control-label">Address <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <input type="text" name="add1" id="add1" value="{{attendee.address1}}" placeholder="Address Line 1" class="form-control" required data-error="Address is required.">
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-9">
        <input type="text" name="add2" id="add2" value="{{attendee.address2}}" placeholder="Address Line 2" class="form-control">
    </div>
    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="city" class="col-sm-3 control-label">City/State <span style="color:red;">*</span></label>
    <div class="col-sm-4">
        <input type="text" name="city" id="city" value="{{attendee.city}}" placeholder="City" class="form-control" required data-error="City is required. ">
    </div>
    <div class="col-sm-5">
        <select class="form-control bfh-states" id="state" data-country="country" data-state="VA" name="state"></select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>

<div class="form-group">
    <label for="country" class="col-sm-3 control-label">ZIP/Country <span style="color:red;">*</span></label>
    <div class="col-sm-3">
        <input type="text" name="zip" id="zip" value="{{attendee.postalCode}}" placeholder="ZIP Code" class="form-control" data-minlength="1" data-error="Zip code is required.">
    </div>
    <div class="col-sm-6">
        <select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>
{% else %}
    <input type="hidden" name="address1" value="">
    <input type="hidden" name="address2" value="">
    <input type="hidden" name="city" value="">
    <input type="hidden" name="state" value="">
    <input type="hidden" name="country" value="">
    <input type="hidden" name="zip" value="">
{% endif %}
<hr>

<div class="form-group">
    <label for="birthDate" class="col-sm-3 control-label">Date of Birth <span style="color:red;">*</span></label>
    <div class="col-sm-9">
        <div class="col-sm-3">
          <input type="number" name="byear" id="byear" class="form-control" placeholder="Year" value="{{attendee.birthdate|date:"Y"}}" max="{% now "Y" %}" min="1900" maxlength="4" required>
        </div>

        <div class="col-sm-5">
          <select id="bmonth" name="bmonth" class="form-control" required>
            <option value="">Month</option>
            <option value="01" {% selected_if_month attendee.birthdate 1 %}>January</option>
            <option value="02" {% selected_if_month attendee.birthdate 2 %}>February</option>
            <option value="03" {% selected_if_month attendee.birthdate 3 %}>March</option>
            <option value="04" {% selected_if_month attendee.birthdate 4 %}>April</option>
            <option value="05" {% selected_if_month attendee.birthdate 5 %}>May</option>
            <option value="06" {% selected_if_month attendee.birthdate 6 %}>June</option>
            <option value="07" {% selected_if_month attendee.birthdate 7 %}>July</option>
            <option value="08" {% selected_if_month attendee.birthdate 8 %}>August</option>
            <option value="09" {% selected_if_month attendee.birthdate 9 %}>September</option>
            <option value="10" {% selected_if_month attendee.birthdate 10 %}>October</option>
            <option value="11" {% selected_if_month attendee.birthdate 11 %}>November</option>
            <option value="12" {% selected_if_month attendee.birthdate 12 %}>December</option>
          </select>
        </div>

        <div class="col-sm-3">
          <select id="bday" name="bday" class="form-control" required disabled>
              <option value="">Day</option>
            {% if attendee.birthdate %}
              <option value="{{attendee.birthdate|date:"d"}}" selected>{{attendee.birthdate|date:"d"}}</option>
            {% endif %}
          </select>
        </div>

        <input type="hidden" name="birthDate" id="birthDate" value="{{attendee.birthdate|date:"Y-m-d"}}">

        <p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
    </div>
    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
</div>
