.artisan {
/**
    background: url('../img/2017/logo.jpg') no-repeat top right;
**/
    min-height: 900px;  /* So logo isn't cut off on short-content pages */

}

body {
    background: #3D67B1;
}

.containter {
    background: #EEEEEE !important;
}

#content-holder {
    background: white;
    padding: 3%;
    border: #8EAFE9 5px solid;
}


.badge{  
    min-width:500px;
    min-height:250px;
    box-radius: 10px;
    margin-bottom: 5%;
    background-color: black; 
 }

#badge-text{
    padding-top: 30%;
    font-size: 30px;
}

@media (max-width: 768px) {
    .mobile-block {
        display: block;
        width: 100%;
    }
}

.form-control-checkbox {
    display: inherit;
    width: auto;
    height: auto;
}

/* COMMON PRICING STYLES */
.panel {
    border-color: #ddd;
}
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
     -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
        
.panel.price>.panel-heading{
    text-shadow:0px 3px 0px rgba(50,50,50, .2);
}
    
.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}

#terms li {
    margin-bottom: 1em;
}

/* Use with bs-yetti theme */
.alert a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.deleteAttendee {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}