.artisan {
/**
    background-image: linear-gradient(203deg, rgba(194,155,114,0.65) 35%, transparent 0%);
    background-size: 100% 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    padding-top: 2%;
**/

    background: url('../img/2017/Logo-promo.png') no-repeat top right;
    min-height: 900px;  /* So logo isn't cut off on short-content pages */

}
.artisan2 {
    background-image: linear-gradient(235deg, rgba(194,155,114,0.65) 35%, transparent 0%);
    background-size: 100% 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    background: url('../img/2017/sakura.png') center center white;
}

.containter {
    background: #EEEEEE !important;
}

#content-holder {
    background: white;
    padding: 3%;
    border: #f8bfef 5px solid;
}

#content{
    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;
}

.badge{  
    min-width:500px;
    min-height:250px;
    box-radius: 10px;
    margin-bottom: 5%;
    background-color: black; 
}

#badge-text{
    padding-top: 30%;
    font-size: 30px;
}

@media (max-width: 768px) {
    .mobile-block {
        display: block;
        width: 100%;
    }
}

.form-control-checkbox {
    display: inherit;
    width: auto;
    height: auto;
}

/* COMMON PRICING STYLES */
.panel {
    border-color: #ddd;
}
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
     -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
        
.panel.price>.panel-heading{
    text-shadow:0px 3px 0px rgba(50,50,50, .2);
}
    
.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}



