{% extends "event_base.html" %}
{% block body %}
	<h1>Check-In Panelists</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Badge Name</th>
				<th>&nbsp;</th>
				<th>Panels</th>
			</tr>
		</thead>
		<tbody>
			{% for x,y in list.items %}
			<tr>
				<td>{{y.panelist.badge.badgeName}}</td>
				<td>
					{% if y.panelist.checked_in %}
					Checked In {{y.panelist.checked_in_date|date:"D G:i"}}
					{% else %}
					<a href="#" class="btn btn-success btn-sm check-in-panelist" data-pk="{{x}}">Check In</a>
					{% endif %}
				</td>
				<td>
					<table class='table table-hover'>
				{% for z in y.panels %}
					<tr>
					<td>
					<a href="{% url "events:panel-detail" event.pk z.pk %}" class="btn btn-link btn-sm panel-detail-modal" data-pk="{{z.pk}}">{{z.panel.title}}</a></td>
					<td>
						<small>{% if z.time_start|timeuntil == "0 minutes" %}{{ z.time_start|timesince }} ago{% else %}Starts in {{z.time_start|timeuntil}}{% endif %}</small>
					</td>
					<td class='text-right'>
								<small>{{z.room}}</small>
								{% if z.time_start|date:"D" == "Thu" %}<span class="badge badge-light">Thurs.</span>{% endif %}
								{% if z.time_start|date:"D" == "Fri" %}<span class="badge badge-info">Fri.</span>{% endif %}
								{% if z.time_start|date:"D" == "Sat" %}<span class="badge badge-primary">Sat.</span>{% endif %}
								{% if z.time_start|date:"D" == "Sun" %}<span class="badge badge-warning">Sun.</span>{% endif %}
								{% if z.time_start|date:"D" == "Mon" %}<span class="badge badge-default">Mon.</span>{% endif %}
								{% if z.time_start|date:"D" == "Tue" %}<span class="badge badge-default">Tue.</span>{% endif %}

								{% if z.time_start|date:"G"|add:"0" >= 7 and z.time_start|date:"G"|add:"0" <= 15 %}<span class="badge badge-success">{{ z.time_start|date:"G:i" }}</span>{% endif %}
								{% if z.time_start|date:"G"|add:"0" >= 16 and z.time_start|date:"G"|add:"0" <= 23 or z.time_start|date:"G"|add:"0" >= 0 and z.time_start|date:"G"|add:"0" <= 6  %}<span class="badge badge-dark">{{ z.time_start|date:"G:i" }}</span>{% endif %}

								{% if z.panel.r18 %}<span class="badge badge-danger">18+ Panel</span>{% endif %}
					</td>
					</tr>
				{% endfor %}
					</table>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block scripting %}
<script type="text/javascript">
$(document).ready(function(){

	$(document).on("click", ".check-in-panelist", function(event){
		$(event.target).text("Please Wait..");
		$(event.target).addClass("disabled");
		$.get('/backend/events/controls/v1/{{event.pk}}/panelist/'+$(event.target).data("pk")+'/checkin/', function(data){
			$(event.target).text("Checked In!");
		});
	});

});
</script>
{% endblock %}
