{% extends "event_base.html" %}
{% load event_tags %}
{% block body %}
{{ csrftoken }}
	<h2 id='panel-title' data-pk='{{panel.pk}}'>{{ panel.title }}</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-outline-primary">
				<div class="card-header">
					Controls
				</div>
				<div class="card-body text-center">
					<a href="#" class="btn btn-success card-link">Edit Panel Information</a>
					<a href="#" class="btn btn-success card-link">Confirm Panel Details</a>
					<a href="#" class="btn btn-success card-link">Add Slot</a>
					<a href="#" class="btn btn-success card-link">Edit Requests</a>
				</div>
			</div>
<hr>
			<div class="card card-outline-primary">
				<div class="card-header">
					Panel Information
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<b>Panel Title</b>
								</div>
								<div class="col-md-8">
									{{ panel.title }}{% if panel.r18 %} <span class="badge badge-danger">18+</span>{% endif %}
								</div>
							</div>
							<br>
							<div class="row">
								{% if panel.description == "" %}
								<div class="col-md-12">
									<em>No Description Added</em>
								</div>
								{% else %}
								<div class="col-md-4">
									<b>Description</b>
								</div>
								<div class="col-md-8">
									{{ panel.description|linebreaksbr }}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<b>Panelist</b>
								</div>
								<div class="col-md-8">
									{{ panel.panelist.badge.badgeName }}<br>
									{% if panel.panelist.badge.abandoned == "Abandoned" %}
									<span class="badge badge-danger">Not Paid</span>
									{% elif panel.panelist.badge.abandoned == "Staff" %}
									<span class="badge badge-warning text-white">Staff</span>
									{% elif panel.panelist.badge.abandoned == "Paid" or panel.panelist.badge.abandoned == "Comp" %}
									<span class="badge badge-success">Paid & Registered</span>
									{% endif %}
									{% if panel.panelist.badge.printed %}
										<span class="badge badge-success">Badge Picked Up</span>
									{% else %}
										<span class="badge badge-dark">Badge Not Picked Up</span>
									{% endif %}
									{% if panel.panelist.checked_in %}
										<span class="badge badge-success">Checked In</span>
									{% else %}
										<span class="badge badge-dark">Not Checked In</span>
									{% endif %}

								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<b>Track</b>
								</div>
								<div class="col-md-8">
									<a href="#">{% track_display panel.track %}</a>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
<hr>
			<div class="card bg-success">
				<div class="card-header text-white">
					Slots
				</div>
				<div class="card-body bg-light">
					{% for s in slots %}
						<div class="row text-center">
							<div class="col-md-4" style="">
								<h4>{{s.time_start}}</h4>
								<p class="card-text"><a href="#" data-pk="{{s.pk}}" class="btn schedule-conflicts btn-sm btn-success">Analyze Schedule Conflicts</a></p>
							</div>
							<div class="col-md-4" style="">
								<h4>{{s.get_duration_display}}</h4>
								<em>Setup Time: {{s.get_setup_time_display}}</em>
							</div>
							<div class="col-md-4" style="">
								<h4>{{s.room}}</h4>
								<a href="#" data-pk="{{s.pk}}" class="btn edit-slot btn-sm btn-warning">Edit Slot</a> <a href="#" data-pk="{{s.pk}}" class="btn delete-slot btn-sm btn-danger">Delete Slot</a>
							</div>
						</div>
						{% if s.label == None %}{% else %}<p class="card-text">Labeled As: {{s.label}}</p>{% endif %}
						{% if s.setup_notes == "" %}{% else %}<p class="card-text">Setup Notes: {{s.setup_notes|linebreaksbr}}</p>{% endif %}
						<hr>
					{% endfor %}
					{% if slots|length == 0 %}
						<em>No Slots Assigned to Panel Yet</em>
					{% endif %}
				</div>
			</div>
<hr>
			<div class="card bg-warning">
				<div class="card-header">
					Requests
				</div>
				<div class="card-body text-center">
					{% for r in requests %}
					{% if forloop.first %}<div class="row">{% endif %}
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								{{r.request_type.title}}
							</div>
							<div class="col-md-8">
								{% if r.requested %}<span class="badge badge-warning">Requested</span>{% else %}<span class="badge badge-default">Not Requested</span>{% endif %}
								{% if r.confirmed %}<span class="badge badge-success">Confirmed</span>{% else %}<span class="badge badge-danger">Not Requested</span>{% endif %}
							</div>
						</div>
					</div>
					{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
					{% endfor %}
					{% if requests|length != 0 %}
					</div>
					{% endif %}
				</div>
			</div>
<hr>
			<div class="card card-outline-danger">
				<div class="card-header">
					Comments
				</div>
				<div class="card-body text-left">
					{% for c in comments %}
					 <div class="card card-outline-danger">
		                                <div class="card-header">
                		                        <h5><span class="badge badge-default">{{c.user.username}}</span> <small>{{c.date_added}} {% if c.show_to_panelist == False %}<span class="badge badge-danger">Private</span>{% endif %}</small></h5>
                                		</div>
		                                <div class="card-body">
							{{c.comment}}
						</div>
					</div>
					{% if forloop.counter.last %}{% else %}<hr>{% endif %}
					{% endfor %}
					<div class="card card-outline-info">
						<div class="card-body">
							<textarea class='form-control' rows='4'></textarea><br>
							<span class='text-right'><a href="#" class="btn btn-md btn-success">Submit Comment</a> <input type='checkbox' checked> Staff Only</span>
						</div>
					</div>
				</div>
			</div>
<hr>

		</div>
	</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="verModal" aria-hidden="true" id="verModal">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Panel Slot Conflicts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="verification">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripting %}
<script type="text/javascript">
$(document).ready(function(){

	{% include "cookies.html" %}

	$(document).on("click", ".schedule-conflicts", function(event){
		$("#verModal").modal("toggle");
		$('#verification').text("");
		$.get('/backend/events/controls/v1/{{event.pk}}/panel/'+$(event.target).data("pk")+'/verification/', function(data){
			//$("#verification").text(JSON.stringify(data));
			$("#verification").append("<div id='main-row' class='row'></div>");
			var rows = "col-md-6";
			$("#verification #main-row").append("<div class='col-md-6' id='scheduler'><div class='row'></div></div>");
			// panel_after
			$("#scheduler .row").append("<div class='ver-rows' id='panel-before'></div>");
			$("#panel-before").append("<h5>Earlier Panel <small>"+data.panel_before.room+"</small></h5>");
			$("#panel-before").append("<p>"+data.panel_before.title+"<br><small>"+data.panel_before.panelist+"</small></p>");
			$("#panel-before").append("<p>"+data.panel_before.time_start+"<br>to<br>"+data.panel_before.time_end+"</p>");

			$("#scheduler .row").append("<div class='ver-rows' id='panel-after'></div>");
			$("#panel-after").append("<h5>Next Panel <small>"+data.panel_after.room+"</small></h5>");
			$("#panel-after").append("<p>"+data.panel_after.title+"<br><small>"+data.panel_after.panelist+"</small></p>");
			$("#panel-after").append("<p>"+data.panel_after.time_start+"<br>to<br>"+data.panel_after.time_end+"</p>");

			$("#verification #main-row").append("<div class='col-md-6' id='ver-other'></div>");
			$("#ver-other").append("<h5>Adjacent Panels</h5>");

			$("#ver-other").append("<table class='table table-hover' id='adjacents'><tbody></tbody></table>");

			$.each(data.adjs, function(i,o){
				$("#adjacents tbody").append("<tr><td><b>"+o.room+"</b></td><td>"+o.title+"</td><td>"+o.time_start+" to "+o.time_end+"</td></tr>");
			});


			$("#scheduler").append("<h5>Scheduling Conflicts</h5>");
	
			$("#scheduler").append("<table class='table table-hover' id='z-conflicts'><tbody></tbody></table>");

			if(data.conflicts.length == 0){
				$("#z-conflicts").append("<tr class='bg-success text-white'><td>No scheduling conflicts</td></tr>");
			}
			$.each(data.conflicts, function(i,o){
				$("#z-conflicts").append("<tr class='bg-danger text-white'><td>"+o+"</td></tr>");
			});

			$(".ver-rows").addClass(rows);
			
		});

	});

});
</script>
{% endblock %}
