{% load static %}
{% load event_tags %}
<!DOCTYPE html>
<html>
	<head>
	        <meta name="viewport" content="width=device-width, initial-scale=1">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script src="{% static 'b4b/js/jquery-1.10.2.min.js' %}"></script>
                <link href="{% static "b4b/css/bootstrap.min.css" %}" rel="stylesheet" crossorigin="anonymous">
                <link href="{% static "fa/css/font-awesome.css" %}" rel="stylesheet" crossorigin="anonymous">
                <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script> -->
                <!-- <script src="{% static "b4/js/popper.js" %}" crossorigin="anonymous"></script> -->
                <script src="{% static "b4b/js/popper.js" %}" crossorigin="anonymous"></script>
                <script src="{% static "b4b/js/bootstrap.min.js" %}" crossorigin="anonymous"></script>
                <script src="{% static "b4b/js/sticky.js" %}" crossorigin="anonymous"></script>
		
	{% block head %}

	{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
			<a class="navbar-brand" href="#">APIS: {{event.name}}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Convention</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Registration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Operations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url "events:manager" event.pk %}">Programming</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Marketplace</a>
				</li>
				</ul>
			<ul class="navbar-nav my-2 my-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">{{request.user.username}}</a>
				</li>
			</ul>
			</div>
			</div>
		</nav>
		{% block subnav %}
		<div style="background: #DDDDDD; margin-bottom: 1em;">
		<ul class="nav nav-pills nav-fill container">
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Programming</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "events:manager" event.pk %}">Panels</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "events:checkin" event.pk %}">Check-In</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Tracks</a>
				<div class="dropdown-menu">
					{% track_list event "dropdown-item" %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Schedule</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url "events:glance" event.pk %}">At-A-Glance</a>
					<a class="dropdown-item" href="{% url "events:visual" event.pk %}">Visualizer</a>
				</div>
			</li>
		</ul>
		</div>
		{% endblock %}
		<div class="container">
		{% block body %}
		{% endblock %}
		</div>
		</span>
		{% block visual %}
		{% endblock %}
		{% block scripting %}
		{% endblock %}
		<footer class="footer container">
        	   <p>Made with &hearts;</p>
	        </footer>
	</body>
</html>
