	<form action="/" method="POST">
		{% csrf_token %}
		{% for x in form %}
		<div class="form-group row">
			<label class='col-sm-2 col-form-label'>{{x.label}}</label>
			<div class="col-sm-10" data-label='{{x.label|lower}}'>
				{{ x }}
			</div>
		</div>
		{% endfor %}
	</form>
<script type="text/javascript">
	$(document).ready(function(){
		$(".col-sm-10").children("textarea").addClass("form-control");
		$(".col-sm-10").children("select").addClass("form-control");
		$(".col-sm-10").children("input[type=text]").addClass("form-control");
		$(".col-sm-10").children("input[type=checkbox]").addClass("form-control-input");
	});

</script>
