{% extends "registration/utility_pages.html" %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">503</h1>
			<h2 class="text-center">Sorry, we're down for maintenance</h2>
			<img class="hero" src="{% static 'img/503.png' %}">

			<p class="text-center">
				<strong>We'll be back up shortly.</strong>  Thank you for your patience. <br>
				<small>(Service Temporarily Unavailable)</small>
			</p>

		</div>
	</div>
{% endblock %}
