{% load site %}
{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% current_site_name %} {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static 'css/bootstrap-darkly.min.css' %}" rel="stylesheet" media="screen">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'admin:index' %}">APIS</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              {% if user.is_authenticated %}
              <form method="post" action="{% url 'admin:logout' %}" class="navbar-form navbar-right">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href=""#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ user }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'mfa_index' %}">2FA</a></li>
                    <li><a href="{% url 'account_email' %}">Email</a></li>
                    <li><a href="{% url 'account_change_password' %}">Password</a></li>
                  </ul>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </nav>
        {% endblock %}

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}{% bootstrap_message message.tags %}{% endif %}" role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span class="glyphicon glyphicon-alert"></span> {% endif %}
                    <b>{{ message }}</b>
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endblock %}

        {% block extra_body %}{% endblock extra_body %}
    </body>
</html>
