{% extends "u2f/base.html" %}
{% load argonauts widget_tweaks %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Add U2F Key' %}{% endblock %}

{% block content %}
{{ block.super }}

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h1>Two Factor Settings</h1>
    <a class="btn btn-default" href="{% url 'u2f:two-factor-settings' %}">{% trans '&larr; Back to settings' %}</a>
    <h2>{% trans 'To add a security key to your account, insert (and tap) it.' %}</h2>

    <p id="u2f-status"></p>
    <form method="post" id="u2f-form" class="form">
        {% csrf_token %}
        {% for field in form.visible_fields %} 
            {% render_field field readonly="readonly" class="form-control" placeholder="Waiting for token..." %}
        {% endfor %}
    </form>

  </div>
</div>

<script type="application/json" id="django_u2f_registration">
  {{ registration_request|json }}
</script>
<script src="{% static 'django_u2f/django_u2f.js' %}"></script>
{% endblock %}
