{% extends "u2f/base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Two Factor Settings</h1>
    <a class="btn btn-default" href="{% url 'u2f:two-factor-settings' %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans 'Back to settings' %}</a>

    <h2>{% trans "TOTP (Authenticator) Devices" %}</h2>

    {% if not object_list %}
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span>
        <b>{% trans "No devices added" %}</b>
      </div>
    {% else %}
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign"></span>
      <b>
      {% blocktrans %}
      Important: Be sure to create backup codes and store them a safe place.
      Backup codes help you access your account in case you lose
      your device.
      {% endblocktrans %}
      <a href="{% url 'u2f:backup-codes' %}">Manage backup codes</a>

      </b>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Added on' %}</th>
          <th>{% trans 'Last used on' %}</th>
          <th>{% trans 'Delete' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for device in object_list %}
        <tr>
          <td>{{ device.created_at }}</td>
          {% trans 'Never' as never %}
          <td>{{ device.last_used_at|default:never}}</td>
          <td>
            <form method="post">{% csrf_token %}
              <input name="device_id" type="hidden" value="{{ device.pk }}">
              <button class="btn btn-danger" type="submit" name="delete">
                <span class="glyphicon glyphicon-trash"></span>
                <span class="sr-only">{% trans 'Delete' %}</span>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <a class="btn btn-success" href="{% url 'u2f:add-totp' %}?next={% url 'u2f:totp-devices' %}">
      <span class="glyphicon glyphicon-plus-sign"></span> {% trans 'Add TOTP (Authenticator) Device' %}
    </a>
  </div>
</div>
{% endblock %}
