{% load mathfilters %}
<p>Salutations Sakura Festival Vendors,</p>

<p>Thank you for participating in Fur The More's Fantasy in the Sakura Forest! 
  We look forward to meeting under the Cherry Blossoms on April 20-22nd. If you have any questions 
  or concerns, please email <a href="mailto:marketplace@furthemore.org">marketplace@furthemore.org</a>.</p>

<p>Your confirmation number is: {{order.reference}}</p>
<p><b>Dealer Invoice for {{dealer.attendee}}, {{dealer.businessName}}</b></p>
<hr/>
<table>

<tr><td>Table Type - {{dealer.tableSize}}</td><td> ${{dealer.tableSize.basePrice}}</td></tr>
{% if dealer.needWifi %}
<tr><td>Wi-Fi Access</td><td>$50.00</td></tr>
{% endif %}
<tr><td>Continental Breakfast</td><td>{{dealer.breakfast|yesno:"Yes,No"}}</td></tr>
<tr><td>Friday Reception</td><td>{{dealer.reception|yesno:"Yes,No"}}</td></tr>
{% if dealer.getPartnerCount > 0%}
<tr><td>Partners x{{dealer.getPartnerCount}}</td><td>${{dealer.getPartnerCount|mul:45}}.00</td></tr>
{% endif %}
{% if dealer.asstBreakfast%}
<tr><td>Partner Breakfast x{{dealer.getPartnerCount}}</td><td>${{dealer.getPartnerCount|mul:60}}.00</td></tr>
{% endif %}
<tr><td>Attendee Level - {{orderItem.priceLevel}}</td><td>${{orderItem.priceLevel.basePrice}}</td></tr>

{% if dealer.discount > 0 %}
<tr><td>Other Discount {{dealer.discountReason}}</td><td>-${{dealer.discount}}</td></tr>
{% endif %}

{% if order.charityDonation > 0 %}
<tr><td>Charity Donation</td><td>${{order.charityDonation}}</td></tr>
{% endif %}
{% if order.orgDonation > 0 %}
<tr><td>Furthemore Donation</td><td>${{order.orgDonation}}</td></tr>
{% endif %}

<tr><td><b>Total</b></td><td><b>${{order.total}}</b></td></tr>
</table>
<hr/>

<p>If you have listed any partners, they will receive an email with instructions about how to register.</p>
