<h3>Your dealer application for Furthemore 2018 has been approved!</h3>
<p>Please go to the url below and enter the email address you used to register.</p>
<p><a href='https://www.furthemore.org/apis/registration/dealer/{{dealer.registrationToken}}'>https://www.furthemore.org/apis/registration/dealer/{{dealer.registrationToken}}</a></p> 
<p>You will receive an email with a confirmation number after submitting your payment. If you have any further questions, please feel free to contact us: <a href='mailto:marketplace@furthemore.org'>marketplace@furthemore.org</a></p>
<p>Thank you and welcome to the Furthemore 2018 Dealer's Den!</p>
