<h3>Thank you for your application to be a dealer at Furrydelphia 2019</h3><p>The cut off date for primary applicants will be April 20th at 11:59pm, and selections will be made at that time. </p>
<p>If you have not received an acceptance notification by that date, you will be placed on the waitlist for an available spot. If you have any questions, please feel free to contact us: <a href='mailto:marketplace@reg.furrydelphia.org'>marketplace@reg.furrydelphia.org</a></p>
<p>If you have listed any assistants, they will receive an email with instructions about how to register after your payment has been received.</p>
<p>Thank you!</p>
