<h3>Your dealer application for Furthemore 2017 has been approved!</h3>
<p>Please go to the url below and enter the email address you used to register.</p>
<p><a href='https://www.furthemore.org/apis/registration/dealer/{{dealer.registrationToken}}'>https://www.furthemore.org/apis/registration/dealer/{{dealer.registrationToken}}</a></p> 
<p><b>Due to a bug in the dealer application form, we did not record your BADGE NAME or save your BUTTONS FOR A CAUSE offer. Please enter the required Badge Name and update the Buttons for a Cause information if you would like to participate in that effort.</b></p>
<p>You will receive an email with a confirmation number after submitting your payment. If you have any further questions, please feel free to contact us: <a href='mailto:exhibitions@furthemore.org'>exhibitions@furthemore.org</a></p>
<p>Thank you and welcome to the Furthemore 2017 Dealer's Den!</p>
