{% load site %}
<h3>A dealer has registered:</h3>

<p>
Name: {{dealer.attendee.firstName}} {{dealer.attendee.lastName}}<br/>
Email: <a href="email:{{dealer.attendee.email}}">{{dealer.attendee.email}}</a>
</p>

<p>
Business Name: {{dealer.businessName}}
Business Website: <a href="{{dealer.website}}">{{dealer.website}}</a>
Description of Wares: {{dealer.description}}
</p>
<p>
Requested Table Size: {{dealer.tableSize}}
</p>
<p>
<a href="https://{% current_domain %}{% url 'admin:registration_dealer_change' dealer.id %}">View the full dealer record</a>
</p>
