<h3>Thank you for registering for Furrydelphia 2018!</h3>

<p>Our registration system was recently replaced, and your information imported
from the old dataset. There are a few perks included with your registration
which need some extra input from you (e.g., shirt sizes).</p>

<p>Use the link below to select your registration perks, purchase extra
merchandise, upgrade your registration level, and more!<br><br>

<a href="https://www.furrydelphia.org/apis/registration/upgrade/{{registrationToken}}">Review Registration</a><br><br>

<p>If you have any questions regarding registration, you can email us at
registration@reg.furrydelphia.org.</p>

