<h3>Thank you for registering</h3>
<p>Your registration confirmation is: {{reference}}</p>
<p>Your badge name is: {{orderItem.badge.badgeName}}</p>
<p>Your attending level is: {{orderItem.priceLevel.Name}}</p> 
<p>You my pick up your badge from the pre-reg line at the convention. If you have any questions regarding your registration, please contact <a href='mailto:registration@furthemore.org'>registration@furthemore.org</a>.</p>
<p>See you at the convention!</p> 
<p>&nbsp;</p> 
<p>Kiric<br/> Head of Registration</p>
