<h3>Thank you for your payment.</h3> 

<hr/>
{% for oi, options in orderItems.items %}
  <p>Badge Name - {{oi.badge.badgeName}}<br/>
     Level - {{oi.priceLevel.name}} <br/>
     Price - ${{oi.priceLevel.basePrice}}
  {% for ao in options %}
    {% if ao.option.optionExtraType == 'int' %}
    <br>Option: {{ao.option.optionName}} x{{ao.optionValue}} - ${{ao.getTotal}}
    {% else %}
    <br>Option: {{ao.option.optionName}} - ${{ao.option.optionPrice}}
    {% endif %}
  {% endfor %}
  {% if oi.priceLevel.emailVip %}
    <br>** This person qualifies for our VIP experience. Please complete your hotel reservation and email
       your hotel confirmation code to guests@furthemore.org. Our VIP department has also been notified
       of your registration and should be contacting you directly with more information. If you have
       questions regarding perks please contact guests@furthemore.org. Thank you for your support!
  {% endif %}
  </p>
{% endfor %}
<p>
{% if order.discount %}
  Discount: 
      {% if order.discount.percentOff %}
          {{order.discount.percentOff}}% off
      {% else %}
          ${{order.discount.amountOff}} off
      {% endif %}
   <br>
  
{% endif %}
  Total: {{order.total}}
  <br>Paid On: {{order.settledDate}}</p>
<hr/>

<p>Your payment confirmation number is: {{reference}}</p>

{% if hasMinors %}
<p>
One or more of the attendees in this order will still be minors at the start of {{event}}.
Please note that we require a parent or guardian to be present at registration to sign our
consent form for all minor attendees. Any attendee under the age of 13 (by the start of the convention)
must have a parent or guardian also register and accompany them during the event. 
</p>
{% endif %}

<p>If you have any questions about your order, please contact us at registration@furthemore.org.</p>

<p>Thank you!</p>

<p>Nalan<br/>Head of Registration</p>
