{% extends "registration/master.html" %}

{% block content %}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration Not Found</h4>
      </div>
      <div class="modal-body">
        <p>We weren't able to find a record matching the entered email and token. Please check the email you entered and check the url against the instructions you received.</p>
      </div>
    </div>
  </div>
</div>

	<form class="form-horizontal" role="form" data-toggle="validator">
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Registration Upgrade - Furthemore 2018</h1>
		<p>Please enter the email you used to register.</p>
		<hr>

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" required data-error="Email is required."/>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="token" class="col-sm-3 control-label">Registration Token</label>
                    <div class="col-sm-9">
                        <input type="text" id="token" class="form-control" disabled value="{{token}}"/>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
		<div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">	
			{% csrf_token %}
                        <button id="lookup" type="submit" class="btn btn-primary col-sm-6 col-sm-offset-6" aria-controls="profile" data-toggle="tab">Find My Application</button>
		    </div>
		</div>	
	</form>
        </div>
{% endblock %}

{% block javascript %}

 <script type="text/javascript">

	$("#lookup").click(doRegister);
	
	function doRegister() {
		$("form").validator('validate');
		var errorCount = $(".has-error").length;
		if (errorCount > 0) {return;}

		var data = {
			'email': $("#email").val(), 'token': $("#token").val(),
            'event': 'Furthemore 2018'
		};
		$.ajax({
		    "type": "POST",
		    "dataType": "json",
		    "url": "{% url 'infoUpgrade' %}",
		    "data": JSON.stringify(data),
		    "beforeSend": function(xhr, settings) {
		        console.log("Before Send");
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
		    "error": function(result, status, error) {
			if (result.responseText.indexOf('Paid') > -1) {
				$("#paidModal").modal('show');
			} else {
				$("#errorModal").modal('show');
			}
		    },
                    "success": function () {
                        window.location = "{% url 'findUpgrade' %}";
                    }
		});
	}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
