{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Registration - Furrydelphia 2018</h1>
		<hr>
		<p>Registration for Furrydelphia 2018 is closed. If you have any questions please contact 
		   <a href='mailto:registration@furrydelphia.org'>registration@furrydelphia.org</a></p>
		<p style='float:right;'><a href='http://www.furrydelphia.org'>Back to Main Page</a></p>
	</div>
	</div>
{% endblock %}
