<!DOCTYPE html>
<html>
  <head>
    <title>Furthemore 2017 Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
	<link href="/static/css/bs-yeti.css" rel="stylesheet" media="screen">
	<link href="/static/css/yuuki.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-formhelpers.css" rel="stylesheet" media="screen">
  </head>
  <body>

<!-- Subhead
================================================== -->
<div class="artisan2">
<div class="artisan">

<div class="container">
    <div class="row">
	
	<div class="col-md-8" id="content-holder">
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Registration - Furthemore 2017</h1>
		<h3>Thank you so much for your Market Place Application!</h3>
		<hr>
		<p>The initial cut off date for primary applicants will be Nov 5th at 11:59pm, and selections will be made/notifications sent by November 12th. </p>
		<p>If you have not received an acceptance notification by that date, you will be placed on the waitlist for the next available spot. If you have any questions, please feel free to contact us: <a href="mailto:exhibitions@furthemore.org">exhibitions@furthemore.org</a></p>
		<p>Thank you and good luck!</p>
	</div>
	</div>
	</div>
</div>
</div>
</div>
</div>
<script src="/static/js/jquery.js"></script>

  </body>
</html>
