{% extends "registration/master.html" %}

{% block content %}


{% if dealer and not dealer.approved%}

<h1>Dealer Registration - Furthemore 2018</h1>
<p>Your dealer application was not approved. Please contact <a href="mailto:exhibitions@furthemore.org">exhibitions@furthemore.org</a> if you feel this is in error or have any questions.</p>

{% elif dealer and dealer.approved %}

<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buttons for a Cause</h4>
      </div>
      <div class="modal-body">
        <p>As an effort to further support our selected annual charity, Frisky’s Primate and Wildlife Sanctuary, we are asking Marketplace and Artist Alley participants to provide incentives for those who donate. For a donation of $5 or more, the donator will receive a free "A Furry for Frisky’s" button. We humbly ask as  a community, that we come together and help support this worthy cause. </p>
	<p>Suggestions for incentives: a percentage or amount off of a purchase or a free gift to attendees posessing the button.  If you are interested, please let us know what incentive you would like to offer and we will list your business and incentive on the Fur The More website along with signs at the charity donation table. </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
      </div>
      <div class="modal-body">
        <p>Due to state and federal laws, minors may not sell merchandice in our Marketplace. You must be 18 years of age or older before the start of the convention to be a dealer. </p>
	<p>Please contact <a href="mailto:exhibitions@furthemore.org">exhibitions@furthemore.org</a> if you have any questions.</p>
      </div>
    </div>
  </div>
</div>
	<form class="form-horizontal" role="form" data-toggle="validator">
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Registration - Furthemore 2018</h1>

		<p>Please review and update the information below. If you have any questions about this invoice, please contact <a href='mailto:exhibitions@furthemore.org'>exhibitions@furthemore.org</a>. Required fields are marked with a red asterisk (<span style="color:red;">*</span>).</p>

		<hr>
			
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" value="{{dealer.attendee.firstName}}" placeholder="First Name" class="form-control" autofocus required data-error="First name is required. ">
                    </div>
		    <div class="col-sm-5">
                        <input type="text" id="lastName" value={{dealer.attendee.lastName}} placeholder="Last Name" class="form-control" autofocus required data-error="Last name is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="email" id="email" value="{{dealer.attendee.email}}" class="form-control" disabled />
                        <label>
                            <input type="checkbox" id="contact"> <span class="control-label" >Please keep me up to date with convention related information.</span>
                        </label>
                        <label>
                            <input type="checkbox" id="survey"> <span class="control-label" >Please send me the post-con survey.</span>
                        </label>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="phone" id="phone" value="{{dealer.attendee.phone}}" placeholder="Phone Number" class="form-control" required data-error="Phone number is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Address <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" id="add1" value="{{dealer.attendee.address1}}" placeholder="Address Line 1" class="form-control" required data-error="Address is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" id="add2" value="{{dealer.attendee.address2}}" placeholder="Address Line 2" class="form-control">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City/State <span style="color:red;">*</span></label>
		    <div class="col-sm-4">
			<input type="text" name="city" id="city" value="{{dealer.attendee.city}}" placeholder="City" class="form-control" required data-error="City is required. ">
		    </div>
                    <div class="col-sm-5">
			<select class="form-control bfh-states" id="state" data-country="US" data-state="VA" name="state"></select>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">ZIP/Country <span style="color:red;">*</span></label>
		    <div class="col-sm-3">
			<input type="text" name="zip" id="zip" value="{{dealer.attendee.postalCode}}" placeholder="ZIP Code" class="form-control" data-minlength="5" data-error="Zip code is required.">
		    </div>
                    <div class="col-sm-6">
			<select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>
				
		<hr/>

                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="birthDate" value="{{dealer.attendee.birthdate|date:"m/d/Y"}}" class="form-control" placeholder="mm/dd/yyyy" required disabled>
			<p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

		<hr/>
                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Badge Name <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="badgeName" id="badgeName" value="{{badge.badgeName}}" placeholder="Badge Name" class="form-control" required data-error="Badge name is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

            
		<hr>
                <div class="form-group">
                    <label for="businessName" class="col-sm-3 control-label">Business Name <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="businessName" value="{{dealer.businessName}}" name="businessName" placeholder="Business Name" class="form-control form-control-text" required>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="license" class="col-sm-3 control-label">Virginia Tax License <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="license" value="{{dealer.license}}"  name="license" placeholder="VA Tax License" class="form-control form-control-text" required>
			<input type="checkbox" id="tempLicense" /> <small>I need a temporary tax license for VA.</small> 
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-sm-3 control-label">Website <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="url" id="website" value="{{dealer.website}}" name="website" placeholder="http://www.mysite.org" class="form-control form-control-text" required data-error="Please enter a full URL here. Ex: http://www.google.com" />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Description of Wares <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <textarea id="description" name="description" class="form-control form-control-textarea" required>{{dealer.description}}</textarea>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="reception" class="col-sm-3 control-label">I would like the daily complimentary continental breakfast</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="breakfast" name="breakfast" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reception" class="col-sm-3 control-label">I will attend the Dealer's Reception</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="reception" name="reception" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="artShow" class="col-sm-3 control-label">I have items to place in the Art Show</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="artShow" name="artShow" class="form-control form-control-checkbox" />
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small">We will contact you seperately with instructions and guidelines for how to submit art to the art show.</div>
                </div>
                <div class="form-group">
                    <label for="buttonOffer" class="col-sm-3 control-label">My offer for "Buttons for a Cause"</label>
                    <div class="col-sm-9">
                        <textarea id="buttonOffer" name="buttonOffer" class="form-control form-control-textarea">{{dealer.buttonOffer}}</textarea>
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small"><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#buttonModal" >What's this?</button></div>
                </div>
                <div class="form-group">
                    <label for="charityRaffle" class="col-sm-3 control-label">I have these items to donate to the Charity Raffle</label>
                    <div class="col-sm-9">
                        <textarea id="charityRaffle" name="charityRaffle" class="form-control form-control-textarea">{{dealer.charityRaffle}}</textarea>
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small">Any donation provided is tax deductible. Please see the charity onsite for additional information and receipts.</div>
                </div>

       <hr/>
                <div class="form-group">
                    <label for="wifi" class="col-sm-3 control-label">I do need Wi-Fi</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="wifi" name="wifi" class="form-control form-control-checkbox" />
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small">This option adds $50 to your table price. Details for Wi-Fi access will be in your welcome packet at the con.</div>
                </div>
                <div class="form-group">
                    <label for="wall" class="col-sm-3 control-label">I would like a wall space<br/>(Space is limited)</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="wall" name="wall" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="wall" class="col-sm-3 control-label">I will consider different table types</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="switch" name="switch" class="form-control form-control-checkbox" />
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small">If the table/booth type I selected is no longer available, I am willing to be assigned a different spot type (Table to booth or booth to table). You can decide to decline a dealer spot if you'd rather not have the spot type assigned in this way. If you accept, you will be responsible for any difference in price.</div>
                </div>
                <div class="form-group">
                    <label for="tableSize" class="col-sm-3 control-label">Space Type</label>
                    <div class="col-sm-9">
                        <input type="text" value="{{dealer.tableSize.name}} (${{dealer.tableSize.basePrice}})" class="form-control form-control-text" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="chairs" class="col-sm-3 control-label">Chair Count</label>
                    <div class="col-sm-9">
                        <input type="number" value="{{dealer.chairs}}" name="chairs" class="form-control form-control-text" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Table Count</label>
                    <div class="col-sm-9">
                        <input type="number" value="{{dealer.tables}}" name="tables" class="form-control form-control-text" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Partner Information</label>
                    <div class="col-sm-9" id="partnerList">
                        <input type="text" id="partner1" name="tables" class="form-control form-control-text" disabled />
                        <input type="text" id="partner2" name="tables" class="form-control form-control-text" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="asstbreakfast" class="col-sm-3 control-label">I want to pay for breakfast for my partners</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="asstbreakfast" name="asstbreakfast" class="form-control form-control-checkbox" />
                    </div>
		    <div class="col-sm-9 col-sm-offset-3 small">You will be charged an additional $60 per partner for this option.</div>
                </div>
                <div class="form-group">
                    <label for="near" class="col-sm-3 control-label">I would like to be near this person</label>
                    <div class="col-sm-9">
                        <input type="text" id="near" value="{{dealer.nearTo}}" name="near" placeholder="Business or Person" class="form-control form-control-text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="far" class="col-sm-3 control-label">I would like to NOT be near this person</label>
                    <div class="col-sm-9">
                        <input type="text" id="far" value="{{dealer.farFrom}}" name="far" placeholder="Business or Person" class="form-control form-control-text" />
                    </div>
                </div>
                <hr/>
		<h3>Choose a different attendee level</h3>
		<div>If you would like to choose a higher badge level, and receive the extra perks that go along with it, please select one here:</div>

		<div class="row" id="levelContainer"></div>

		<div class="form-group">
                    <div class="col-sm-6 col-sm-offset-6">
                        <button id="checkout" type="submit" class="btn btn-primary col-sm-12" aria-controls="profile" data-toggle="tab">Continue to Checkout</button>
		    </div>
                </div>
	</div>
	{% csrf_token %}

	</div>
	</form>

{% else %}

<h1>Dealer Registration - Furthemore 2018</h1>
<p>Your session has expired. Please use the link in your application acceptance email again to start over.</p>

{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/html" id="levelTemplate">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
	<div class="panel price">
		<div class="panel-heading  text-center">
		<h3 data-content="name"></h3>
		</div>
		<div class="panel-body text-center">
			<p class="lead" style="font-size:40px"><strong data-content="price"></strong></p>
		</div>
		<div class="panel-footer">
			<a class="btn btn-lg btn-block btn-danger selectLevel" data-id="levelId">Select</a>
			<a class="btn btn-default btn-block changeLevel" >Change Level?</a>
		</div>
	</div>
	</div>
</script>

<script type="text/html" id="optionBoolTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="checkbox" data-id="id" class="form-control form-control-text levelOptions" />
		</div>
	</div>
<div>
<script type="text/html" id="optionBoolReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="checkbox" data-id="id" class="form-control form-control-text levelOptions" required />
		</div>
	</div>
<div>

</script>
<script type="text/html" id="optionIntTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="number" data-id="id" class="form-control form-control-text levelOptions" min=0 />
		</div>
	</div>

</script>
<script type="text/html" id="optionIntReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="number" data-id="id" class="form-control form-control-text levelOptions" required min=0 />
		</div>
	</div>

</script>
<script type="text/html" id="optionStringTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions"
			data-template-bind='{"attribute": "placeholder", "value": "placeholder"}' />
		</div>
	</div>
</script>
<script type="text/html" id="optionStringReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions" required
			data-template-bind='{"attribute": "placeholder", "value": "placeholder"}' />
		</div>
	</div>
</script>
<script type="text/html" id="optionListTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<select data-id="id" class="form-control form-control-select levelOptions" 
			  data-template-bind='{"attribute": "options", "value": {"data": "options", "value":"value", "content":"content"}}'></select>
		</div>
	</div>
</script>

 <script type="text/javascript">
	var dealer = {{ jsonDealer|safe }} 
	var attendee = {{ jsonAttendee|safe }} 
	var badge = {{ jsonBadge|safe }} 
	var table = {{ jsonTable|safe }} 
	var currentLevel = {{ jsonLevel|safe }}
	var levelTemplateData = [];
    var shirtSizes = [];

	$( "body" ).ready(function() {
		$.getJSON("{% url 'pricelevels' %}", function(data) {
			levelData = data;
			var prevLevel = 45;
			if (currentLevel && currentLevel.hasOwnProperty("basePrice")){
				prevLevel = parseFloat(currentLevel.basePrice);
			}
			$.each( data, function( key, val ) {
				levelTemplateData.push({
					name: val.name,
					price: "$" + (val.base_price - prevLevel),
					levelId: "level_" + val.id,
				});
			});
			$("#levelContainer").loadTemplate($("#levelTemplate"), levelTemplateData);
			$(".changeLevel").hide();
			if (shirtSizes.length > 0){
				$(".selectLevel")[0].click();
			}

		});
		$.getJSON("{% url 'shirtsizes' %}", function(data) {
			shirtSizes = data;
			if (levelTemplateData.length > 0){
				$(".selectLevel")[0].click();
			}
		});
	});

    var partners = dealer.partners.split(', ');
  	var partnerCount = 0;
    var partner1 = "";
    var partner2 = "";
    $.each(partners, function(key, item) {
		if (item.indexOf("name_1") > -1 && item.split(':')[1].trim() != "") {
			partnerCount = partnerCount + 1;
		}
		if (item.indexOf("name_2") > -1 && item.split(':')[1].trim() != "") {
			partnerCount = partnerCount + 1;
		}
		if (item.indexOf("_1") > -1) {
			var p1 = item.split(':');
			partner1 = partner1 + " " + p1[0] + ": " + p1[1];
		}
		if (item.indexOf("_2") > -1) {
			var p2 = item.split(':');
			partner2 = partner2 + " " + p2[0] + ": " + p2[1];
		}

	});
	$("#partner1").val(partner1);
	$("#partner2").val(partner2);			
	$("#partnerCount").text(partnerCount);
	$("#partnerTotal").text("$" + partnerCount*40 + ".00");
	$("#contact").attr('checked', attendee.emailsOk);
	$("#survey").attr('checked', attendee.surveyOk);
	$("#breakfast").attr('checked', dealer.breakfast);
	$("#reception").attr('checked', dealer.reception);
	$("#artShow").attr('checked', dealer.artShow);
	$("#wifi").attr('checked', dealer.needWifi);
	$("#wall").attr('checked', dealer.wallSpace);
	$("#switch").attr('checked', dealer.willSwitch);
    $("#asstbreakfast").attr('checked', dealer.asstBreakfast);

	if (dealer.license == "temporary") {
		$("#license").attr("disabled", "disabled");
		$("#tempLicense").attr('checked', true);
	}

	$("#country").on("change", function() {
		if ($(this).val() == "US"){
			$("#state").val("VA").removeAttr("disabled").attr("required", "required");
			$("#zip").val("").removeAttr("disabled").attr("required", "required");
		} else {
			$("#state").val("").attr("disabled", "disabled").removeAttr("required");
			$("#zip").val("").attr("disabled", "disabled").removeAttr("required");
		}
	});

	$("#tempLicense").on("click", function () {
		if ($(this).is(":checked")) {
			$("#license").val("temporary").attr("disabled", "disabled");
		} else {
			$("#license").val("").removeAttr("disabled");
		}
	});

	$("#billing").on("change", function() {		
		if ($(this).is(":checked")) {
			$("#billingfirstname").val(attendee.firstName).attr("disabled", "disabled");
			$("#billinglastname").val(attendee.lastName).attr("disabled", "disabled");
			$("#billingadd1").val(attendee.address1).attr("disabled", "disabled");
			$("#billingadd2").val(attendee.address2).attr("disabled", "disabled");
			$("#billingcity").val(attendee.city).attr("disabled", "disabled");
			$("#billingstate").val(attendee.state).attr("disabled", "disabled");
			$("#billingzip").val(attendee.postalCode).attr("disabled", "disabled");
			$("#billingcountry").val(attendee.country).attr("disabled", "disabled");
			$("form").validator('validate');
		} else {
			$("#billingfirstname").val("").removeAttr("disabled");
			$("#billinglastname").val("").removeAttr("disabled");
			$("#billingadd1").val("").removeAttr("disabled");
			$("#billingadd2").val("").removeAttr("disabled");
			$("#billingcity").val("").removeAttr("disabled");
			$("#billingstate").val("VA").removeAttr("disabled");
			$("#billingzip").val("").removeAttr("disabled");
			$("#billingcountry").val("US").removeAttr("disabled");
		}
	});

	$("#billingcountry").on("change", function() {
		if ($(this).val() == "US"){
			$("#billingstate").val("VA").removeAttr("disabled").attr("required", "required");
			$("#billingzip").val("").removeAttr("disabled").attr("required", "required");
		} else {
			$("#billingstate").val("").attr("disabled", "disabled").removeAttr("required");
			$("#billingzip").val("").attr("disabled", "disabled").removeAttr("required");
		}
	});


	$("#levelContainer").on('click', 'a.selectLevel', function(){
		clearLevels();
		var levelId = $(this).attr('id').split('_')[1];
		$.each( levelTemplateData, function( key, val ) {
			var id = val.levelId.split('_')[1];
			if (id == levelId){
				$("#regLevel").val(val.name);
				$("#levelContainer").loadTemplate($("#levelTemplate"), val);
				$(".changeLevel").show();
				$(".selectLevel").text("Selected!");
				generateOptions(id);
				return false;
			}
		});
	});
	$("#levelContainer").on('click', 'a.changeLevel', function() {
		$("#levelContainer").loadTemplate($("#levelTemplate"), levelTemplateData);		
		$("#regLevel").val("");
		$(".changeLevel").hide();
	});
	var clearLevels = function(){
		$.each( levelTemplateData, function( key, val ) {
			$("#"+val.levelId).text("Select " + val.name);
		});
		$("form").validator('update');
	};
	var generateOptions = function(levelId){
		var data = [];
		$.each(levelData, function(key, thing){
			if (thing.id == levelId){
				data = thing.options;
				return false;
			}
		});
		var container = $("<div id='optionsContainer' class='col-xs-6 col-sm-6 col-md-6 col-lg-8'><h4>Registration Options</h4><hr/></div>");
		$("#levelContainer").append(container);
		$.each( data, function(key, val) {
			if (val.value == "0.00"){
				var price = " (Free) ";
			} else {
				var price = " (+$" + val.value + ") "
			}
			var required = "";
			if (val.required) {required = "required";}
			switch (val.type){
				case "bool":
					var template = $("#optionBoolTemplate");
					if (val.required) {template = $("#optionBoolReqTemplate");}
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id
					}, {append: true});
					break;
				case "int":
					var template = $("#optionIntTemplate");
					if (val.required) {template = $("#optionIntReqTemplate");}
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id
					}, {append: true});
					break;
				case "string":
					var template = $("#optionStringTemplate");
					if (val.required) {template = $("#optionStringReqTemplate");}
					var placeholder = val.name;
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id,
						'placeholder': placeholder,
					}, {append: true});
					break;
				case "Jersey":
					break;
				case "StaffJersey":
					break;
				default:
					if (val.list == []){break;}
					var options = [];
					if (!val.required) {options.push({"content": "Select One...", "value": ""});}
					$.each(val.list, function (key, item) {
						options.push({"content": item.name, "value": item.id})
					});
					$("#optionsContainer").loadTemplate($("#optionListTemplate"), {
						'name': val.name + " " + price,
						'id': "option_" + val.id,
						'options': options
					}, {append: true});
					break;
			}
		});
		
		$("form").validator('update');
	};
	var getOptions = function() {
		var options = $(".levelOptions");
                var data = [];
		$.each(options, function(key, option) {
			if ($(option).is(':checkbox')){
				data.push({'id': option.id.split('_')[1], 'value': $(option).is(':checked')});
			} else if($(option).val() == "") {
				
			} else {
				data.push({'id': option.id.split('_')[1], 'value': $(option).val()});
			}
		});
		return data;
	};


	$("#checkout").click(doRegister);
	

	function doRegister(e) {
		e.preventDefault();
		$("form").validator('validate');
		var errorCount = $(".has-error").length;
		if (errorCount > 0) {return;}
		
		$("#checkout").attr("disabled", "disabled");

		var data = {
			'attendee': {
				'id': attendee.id,
				'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(), 
				'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(), 
				'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
				'phone': $("#phone").val(),'emailsOk': $("#contact").is(':checked'),
				'surveyOk': $("#survey").is(':checked'), 'badgeName': $("#badgeName").val()
			}, 
			'dealer': {
				'id': dealer.id,
				'businessName':$("#businessName").val(), 'website':$("#website").val(),
				'license':$("#license").val(), 'power': true, 'wifi':$("#wifi").is(':checked'),
                'wall':$("#wall").is(':checked'), 'near':$("#near").val(), 'far':$("#far").val(),
				'description': $("#description").val(),  
				'reception': $("#reception").is(':checked'), 'artShow': $("#artShow").is(':checked'), 
				'charityRaffle': $("#charityRaffle").val(), 'agreeToRules': $("#agreeToRules").is(':checked'),
				'breakfast': $('#breakfast').is(':checked'), 'switch': $('#switch').is(':checked'),
				'buttonOffer': $('#buttonOffer').val(), 'asstbreakfast': $('#asstbreakfast').is(':checked'),
			},
			'priceLevel': { 'id': $(".selectLevel")[0].id.split('_')[1], 'options': getOptions() },
            'event': 'Furthemore 2018'
		};
		

		$.ajax({
		    "type": "POST",
		    "dataType": "json",
		    "url": "{% url 'newDealer' %}",
		    "data": JSON.stringify(data),
		    "beforeSend": function(xhr, settings) {
		        console.log("Before Send");
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
		    "error": function(result, status, error) {
			if (result.responseText == "") {
				alert("Your session has expired.");
			} else {
                        	alert("An error has occurred. Please check the form and your payment information for errors. If this error continues, please contact exhibitions@furthemore.org for assistence.")
			}
			$("#checkout").removeAttr("disabled");
		    },
                    "success": function (result, status) {
                        if (result.success)
                        {
                            window.location = "{% url 'invoiceDealer' %}";
                        } else {
			    $("#checkout").removeAttr("disabled");
                            alert("An error has occurred: " + result.message + " Please check the form an your payment information for errors. If this error continues, please contact exhibitions@furthemore.org for assistence.");
			}
                    }
		});
	}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
