{% extends "registration/master.html" %}

{% block content %}


<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Charity modal</h4>
      </div>
      <div class="modal-body">
          Charity modal
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
      </div>
      <div class="modal-body">
        <p>Due to state and federal laws, minors may not sell merchandice in our Marketplace. You must be 18 years of age or older before the start of the convention to be a dealer. </p>
    <p>Please contact <a href="mailto:marketplace@reg.furrydelphia.org">marketplace@reg.furrydelphia.org</a> if you have any questions.</p>
      </div>
    </div>
  </div>
</div>

    <form class="form-horizontal" role="form" data-toggle="validator">
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personal">
        <h1>Dealer Registration - Furrydelphia 2018</h1>
        <p>Welcome to the registration system. To continue, enter your information below.</p>
        <hr>

            
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus required data-error="First name is required. ">
                    </div>
            <div class="col-sm-5">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus required data-error="Last name is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" required data-error="Email is required.">
                        <label>
                          <input type="checkbox" id="contact" checked="true"> <span class="control-label" >Please keep me up to date with convention related information.</span>
                        </label>
                        <label>
                          <input type="checkbox" id="survey" checked="true"> <span class="control-label" >Please send me the end-of-con survey.</span>
                        </label>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="phone" id="phone" placeholder="Phone Number" class="form-control" required data-error="Phone number is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" id="add1" placeholder="Address Line 1" class="form-control" required data-error="Address is required.">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" id="add2" placeholder="Address Line 2" class="form-control">
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City/State</label>
            <div class="col-sm-4">
            <input type="text" name="city" id="city" placeholder="City" class="form-control" required data-error="City is required. ">
            </div>
                    <div class="col-sm-5">
            <select class="form-control bfh-states" id="state" data-country="US" data-state="PA" name="state"></select>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">ZIP/Country</label>
            <div class="col-sm-3">
            <input type="text" name="zip" id="zip" placeholder="ZIP Code" class="form-control" data-minlength="5" data-error="Zip code is required.">
            </div>
                    <div class="col-sm-6">
            <select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                
            <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control" placeholder="Select birthdate (mm/dd/yyyy)" />
            <p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

            <div class="form-group">
                    <label for="far" class="col-sm-3 control-label">Badge Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="badgename" name="badgename" placeholder="Badge Name" class="form-control form-control-text" />
                    </div>
            </div>

        <p>&nbsp;</p>            
        <h2>Business Information</h2>
        <p>Fill out the information related to your business below.</p>
        <hr>
                <div class="form-group">
                    <label for="businessName" class="col-sm-3 control-label">Business Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="businessName" name="businessName" placeholder="Business Name" class="form-control form-control-text" required>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="license" class="col-sm-3 control-label">Pennsylvania Tax License</label>
                    <div class="col-sm-9">
                        <input type="text" id="license" name="license" placeholder="PA Tax License" class="form-control form-control-text" required>
            
                        <label>
                            <input type="checkbox" id="tempLicense" /> I don't have one yet
                        </label>
                        <p class="help-block">Dealers <b>MUST</b> have a valid Pennsylvania sales tax license in order to sell items at their own tables. It is illegal to sell anything that is subject to Pennsylvania sales tax without one. It is also illegal for multiple dealerships to share a single tax license. As an event promoter under the Commonwealth of Pennsylvania, we are obligated to strictly enforce these laws, and to that end anyone found attempting to purposefully circumvent tax law will be ejected from the Dealer's Den without refund.
                        <br><br>
                        You may apply for a PA-100 sales tax license on-line at <a href="https://www.pa100.state.pa.us/Registration.htm">https://www.pa100.state.pa.us/</a>.
                        </p>
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-sm-3 control-label">Website</label>
                    <div class="col-sm-9">
                        <input type="url" id="website" name="website" placeholder="http://www.mysite.org" class="form-control form-control-text" required data-error="Please enter a full URL here. Ex: http://www.google.com" />
                    </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">What kinds of products will you be offering at your table?</label>
                    <div class="col-sm-9">
                        <p class="help-block">Select all that apply</p>
                        <label><input type="checkbox" class="description-checkbox" data-description="Digital Art"> Digital Art (prints, comics, badges, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Traditional Art"> Traditional Art (pencils and markers, paintings, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Fursuits"> Fursuits / Suiting Supplies & Accessories</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Music"> Music or Audio</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Literature"> Books / Literature (other than comics)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Apparel"> Apparel (shirts, hoodies, bandanas, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Accessories"> Accessories (harnesses, collars, jewelry, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Traditional Games"> Traditional Games (board games, card games, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Video Games"> Video Games (games, consoles, accessories, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Sculptures"> Sculptures (figurines, 3D-printed models, etc)</label><br>
                        <label><input type="checkbox" class="description-checkbox" data-description="Other"> Other: </label><input type="text" id="description-other" class="form-control" placeholder="Please specify">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                <div class="form-group">
                    <label for="charityRaffle" class="col-sm-3 control-label">I have these items to donate to the Charity Raffle</label>
                    <div class="col-sm-9">
                        <textarea id="charityRaffle" name="charityRaffle" class="form-control form-control-textarea"> </textarea>
                    </div>
            <div class="col-sm-9 col-sm-offset-3 small">Any donation provided is tax deductible. Please see the charity onsite for additional information and receipts.</div>
                </div>

        <p>&nbsp;</p>
        <h2>Placement Options</h2>
        <p>The options below may limit where you can be placed in our Marketplace.</p>
        <hr/>
                <div class="form-group">
                    <label for="power" class="col-sm-3 control-label">I require power</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="power" name="power" class="form-control form-control-checkbox" />
                        <p class="help-block">
                            Note that there will be no available power outlets in the Dealers Den unless you get your hookup from us. $15 fee applies. Sharing your electric hookup with neighboring tables via power strips or extension cords is strictly prohibited.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wall" class="col-sm-3 control-label">I would like a wall space<br/>(Space is limited)</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="wall" name="wall" class="form-control form-control-checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="switch" class="col-sm-3 control-label">I will consider different table types</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="switch" name="switch" class="form-control form-control-checkbox" />
                        <p class="help-block">
                            If the table/booth type I selected is no longer available, I am willing to be assigned a different spot type (Table to booth or booth to table). You can decide to decline a dealer spot if you'd rather not have the spot type assigned in this way. If you accept, you will be responsible for any difference in price.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tableSize" class="col-sm-3 control-label">Space Type</label>
                    <div class="col-sm-9">
                        <select id="tableSize" class="form-control form-control-select" ></select>
            <div id="tableSizeDescription"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="chairs" class="col-sm-3 control-label">Chair Count</label>
                    <div class="col-sm-9">
                        <input type="number" id="chairs" name="chairs" class="form-control form-control-text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Table Count</label>
                    <div class="col-sm-9">
                        <input type="number" id="tables" name="tables" class="form-control form-control-text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tables" class="col-sm-3 control-label">Assistant Information</label>
                    <div class="col-sm-9" id="partnerList">
                    </div>
                </div>
                <div class="form-group">
                    <label for="near" class="col-sm-3 control-label">Preferred Neighbors</label>
                    <div class="col-sm-9">
                        <input type="text" id="near" name="near" placeholder="Business or Person" class="form-control form-control-text"/>
                        <p class="help-block">
                            If there is anyone who you would like your table placed next to or close to, please list them here. If they list you on their application form as well, we will do our best to put you together. Furrydelphia cannot guarantee these preferences will be met, but we will certainly try! Make sure anyone that you list in your application, lists you on their application as well!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="far" class="col-sm-3 control-label">Bad Neighbors</label>
                    <div class="col-sm-9">
                        <input type="text" id="far" name="far" placeholder="Business or Person" class="form-control form-control-text" />
                        <p class="help-block">
                            If there is anyone you are feuding with who you would like your table placed far away from, please list them here. You don't have to tell us why, just list their names. Furrydelphia cannot guarantee these preferences will be met, but we will certainly try!
                        </p>
                    </div>
                </div>
        <hr/>
             <div>
                 <div>
                     <p>
                        <h2>Terms and Conditions</h2>
                        <ol>
                            <li>
                                Anyone approved to be a dealer at Furrydelphia MUST register for the convention and pay for their approved table within three weeks (21 days) of their acceptance. After three weeks (21 days), your spot will be offered to the next person on the wait list, and at that point the table will go to whichever of you pays for the spot first. Register and pay immediately upon approval in order to best secure your spot!
                            </li>
                            <li>
                                Dealers MUST have a valid Pennsylvania sales tax license in order to sell items at their own tables. It is illegal to sell anything that is subject to Pennsylvania sales tax without one. It is also illegal for multiple dealerships to share a single tax license. As an event promoter under the Commonwealth of Pennsylvania, we are obligated to strictly enforce these laws, and to that end anyone found attempting to purposefully circumvent tax law will be ejected from the Dealer's Den without refund.
                            </li>
                            <li>
                                Furrydelphia, like most conventions of its sort, only allows ONE vendor to operate per table registration. You may have others behind your table, but they must be helping you to sell your things, and not selling things of their own. Individuals found to be sharing a single table registration between two or more dealers (for example, trying to save money by splitting one table registration between two dealers) will be ejected from the Dealer's Den without refund. 
                            </li>
                            <li>
                                Anyone found selling products that are illegal by Pennsylvania or federal law will be ejected from the Dealer's Den without refund and may, depending on the nature of what they are selling, be reported to local, state, or federal authorities. Such items include controlled substances like recreational drugs, controlled weapons and other illegal deadly objects, illegal pornographic content, the sale of alcohol without a liquor license, etc.
                            </li>
                            <li>
                                If you are showing adult content at your table, it must be kept concealed, separated from all-ages content, and clearly labeled as adult-only. You must not allow any underage persons to view adult content. If you encounter an underage person attempting to view adult content, please report them to convention staff. Knowingly allowing a minor to view adult content is grounds for ejection from the Dealer's Den without refund.
                            </li>
                            <li>
                                Any damages to the Dealer's Den ballroom as a result of your vending at Furrydelphia 2018 will be your responsibility to pay for. Should the hotel impose any fees upon Furrydelphia, Inc. for damages that are known and proven to be caused by you or your assistants, you agree to pay those damages on behalf of the convention. Such fees may be imposed as a result of damages to the floors, walls, tables, etc.
                            </li>
                        </ol>
                     </p>
                      <label>
                            <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-control-checkbox" required>
                            I have read and understand the rules pertaining to both Furrydelphia and the Markeplace. I agree to abide by these rules and by Furrydelphia's <a href="https://docs.google.com/document/d/e/2PACX-1vQwPV-toFZdjPJioZjlUGTWoLeC3kssVd8YRPGTKP99337JMCnQP94gpRWygr5dA9J9DITQE6ChdRWU/pub" target="_blank">Code of Conduct</a>.
                      </label>
                 </div>
                 <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
            </div>


        <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="register" type="submit" class="btn btn-primary col-sm-6 pull-right" aria-controls="profile" data-toggle="tab">Submit</button>
            </div>
                </div>
    </div>
    {% csrf_token %}
    </div>
    </form>

{% endblock %}

{% block javascript %}

 <script type="text/javascript">
    var tableSizes = [];
    $( "body" ).ready(function() {
        if (!Modernizr.inputtypes.date) {
            $("#birthDate").datepicker({
                changeMonth: true,
                changeYear: true
            });
        }
                $.getJSON("{% url 'tablesizes' %}", function(data) {
                        tableSizes = data;
            $.each(tableSizes, function (key, item) {
                if (item.basePrice > 0) {
                    var price = "$" + item.basePrice;
                } else {
                    var price = "varies";
                }
                $("#tableSize").append("<option value='" + item.id + "'>" + item.name + " (" + price + ")</option>");
                if (key == 0) { 
                    $("#tableSizeDescription").text(item.description); 
                    setTableInfo(item.id);
                }
            });
                });
        });
    $("#tableSize").on("change", function() {
        var id = $(this).val();
        $.each(tableSizes, function (key, item) {
            if (item.id == id){ 
                $("#tableSizeDescription").text(item.description);
                setTableInfo(id);
            }
        });     
    });

    $("#next-personal").click(function() {
        window.scrollTo(0, 0);
    });
    
    $("#next-optional").click(function() {
        window.scrollTo(0, 0);
    });


    function setTableInfo(id){
        $.each(tableSizes, function (key, item) {
            if (item.id == id){
                if (item.chairMin == item.chairMax){
                    $("#chairs").val(item.chairMin).attr("disabled", "disabled");
                } else {
                    $("#chairs").val(item.chairMin).attr("min", item.chairMin).attr("max", item.chairMax).removeAttr("disabled");
                }
                if (item.tableMin == item.tableMax){
                    $("#tables").val(item.tableMin).attr("disabled", "disabled");
                } else {
                    $("#tables").val(item.tableMin).attr("min", item.tableMin).attr("max", item.tableMax).removeAttr("disabled");
                }
                $("#partnerList").empty();
                if (item.partnerMax > 0){
                    for (var i=item.partnerMin; i <= item.partnerMax; i++) {
                        var partner = '<input type="text" id="name_' + i + '" class="form-control form-control-text" placeholder="Assistant Name" />' +
                                  '<input type="email" id="email_' + i + '" class="form-control form-control-text" placeholder="Assistant Email" />' + 
                                  '<input type="hidden" id="license_' + i + '"/>'; 
                        $("#partnerList").append(partner);
                        if (i != item.partnerMax){$("#partnerList").append("<br/>");}
                    }
                }
            }
        });     
    };

    $("#country").on("change", function() {
        if ($(this).val() == "US"){
            $("#state").val("PA").removeAttr("disabled").attr("required", "required");
            $("#zip").val("").removeAttr("disabled").attr("required", "required");
        } else {
            $("#state").val("").attr("disabled", "disabled").removeAttr("required");
            $("#zip").val("").attr("disabled", "disabled").removeAttr("required");
        }
    });

    $("#tempLicense").on("click", function () {
        if ($(this).is(":checked")) {
            $("#license").val("I don't have one yet").attr("disabled", "disabled");
        } else {
            $("#license").val("").removeAttr("disabled");
        }
    });
    function partnerLicense() {
        var id = this.id.split('_')[1];
        if ($(this).is(":checked")) {
            $("#license_" + id).val("temporary").attr("disabled", "disabled");
        } else {
            $("#license_" + id).val("").removeAttr("disabled");
        }
    }

    $("#register1").click(doRegister);

    $("#register").click(doRegister);
    
    function getPartners(){
        var partners = "";
        var partnerList = $("#partnerList input");
        $.each(partnerList, function(key, item) {
            if ($(item).is(':checkbox')) {
                partners += item.id + ": " + $(item).is(':checked') + ", ";                 
            } else {
                partners += item.id + ": " + $(item).val() + ", "; 
            }
        });
        return partners;
    }

    function getDescriptionText() {
        var description = "";
        $(".description-checkbox").each(function () {
            if ($(this).is(':checked')) {
                description += $(this).data("description") + "\n";
            }
        });
        description += $("#description-other").val();
        return description;
    }

    function doRegister() {
        $("form").validator('validate');
        var errorCount = $(".has-error").length;
        if (errorCount > 0) {return;}
        if ($("#birthDate").val() == "") {
            alert("You must enter your birthdate to submit your application.");
            return;
        } 
        if (Modernizr.inputtypes.date) {
            // native datepicker - expect ISO date
            var birthdate = parseDate($("#birthDate").val());
        } else {
            // American middle-endian format put out by datepicker javascript
            var birthdate = new Date(Date.parse($("#birthDate").val()));
        }
        var age = getAge(birthdate);
        if (age < 18){
            alert("You must be 18 by the first day of Furrydelphia to be a dealer.");
            return;
        }

        var data = {
            'attendee': {
                'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(), 
                'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(), 
                'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
                'phone': $("#phone").val(), 'email': $("#email").val(), 'birthdate': $("#birthDate").val(),
                'emailsOk': $("#contact").is(':checked'), 'surveyOk': $("#survey").is(':checked'), 
                'badgeName': $("#badgename").val()
            }, 
            'dealer': {
                'businessName':$("#businessName").val(), 'website':$("#website").val(),
                'license':$("#license").val(), 'power': $("#power").is(':checked'), 'wifi': false,
                'wall':$("#wall").is(':checked'), 'near':$("#near").val(), 'far':$("#far").val(),
                'description': getDescriptionText(), 'tableSize': $("#tableSize").val(),  
                'chairs': $("#chairs").val(), 'partners': getPartners(), 'tables': $("#tables").val(),
                'reception': false, 'artShow': false, 
                'charityRaffle': $("#charityRaffle").val(), 'agreeToRules': $("#agreeToRules").is(':checked'),
                'breakfast': false, 'switch': $('#switch').is(':checked'),
                'buttonOffer': false, 'asstbreakfast': false
            },
            'event': 'Furrydelphia 2018'
        };
        $.ajax({
            "type": "POST",
            "dataType": "json",
            "url": "{% url 'addNewDealer' %}",
            "data": JSON.stringify(data),
            "beforeSend": function(xhr, settings) {
                console.log("Before Send");
                $.ajaxSettings.beforeSend(xhr, settings);
            },
            "error": function(result, status, error) {
                        alert("An error has occurred. Please contact marketplace@reg.furrydelphia.org and we will correct the problem.")
            },
                    "success": function () {
                        window.location = "{% url 'thanksDealer' %}";
                    }
        });
    }



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
