{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Dealer Registration - Furthemore 2017</h1>
		<h3>Thank you for your Marketplace Payment!</h3>
		<hr>
        <p>Salutations Sakura Festival Vendors,</p>
        <p>Thank you for participating in Fur The More's Fantasy in the Sakura Forest! We look forward to meeting under the Cherry Blossoms on April 20-22nd. If you have any questions or concerns, please email <a href="mailto:marketplace@furthemore.org">marketplace@furthemore.org.</a> </p>
		<p style='float:right;'><a href='http://www.furthemore.org'>Back to Main Page</a></p>
                <p>You should be receiving an email confirmation and receipt shortly.</p>
	</div>
	</div>
{% endblock %}
