{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Registration - {{event}}</h1>
		<h3>Thank you for your Payment!</h3>
		<hr>
		<p>Thank you for registering!</p>
		<p>You should receive an email shortly with your confirmation number. See you at the con!</p>
		<p style='float:right;'><a href='http://www.furthemore.org'>Back to Main Page</a></p>
	</div>
	</div>
{% endblock %}
