<!DOCTYPE html>
{% load static settings %}
<html>
<head>
  <title>APIS Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static 'css/fontawesome-all-6.0.0-beta3.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-darkly.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  <script
      src="https://browser.sentry-cdn.com/8.51.0/bundle.min.js"
      integrity="sha384-UOoDPZa8zKe2+XR6MQctS46ElT1RITQSH47kT4eyprRgzqtUHu7xEGJCPQFZgre6"
      crossorigin="anonymous"
  ></script>
  <script>
      const SENTRY_ENABLED = {% settings_value_bool 'SENTRY_ENABLED' %};
      const SENTRY_USER_REPORTS = {% settings_value_bool 'SENTRY_USER_REPORTS' %};
      const SENTRY_FRONTEND_DSN = "{% settings_value 'SENTRY_FRONTEND_DSN' %}";
      const SENTRY_ENVIRONMENT = "{% settings_value 'SENTRY_ENVIRONMENT' %}";
      const SENTRY_RELEASE = "{% settings_value 'SENTRY_RELEASE' %}";
  </script>
  <script src="{% static 'js/main-init-sentry.js' %}"></script>

  {% block head %}{% endblock %}

</head>
<body>

<!-- Subhead
================================================== -->

<div class="container">

  {% block content %}

  {% endblock %}
</div>

<script src="{% static 'js/modernizr-custom.js' %}"></script>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/jquery.loadTemplate.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-formhelpers.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/handlebars.min-v4.7.7.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block javascript %}

{% endblock %}

</body>
</html>
