{% load site static settings %}
<!DOCTYPE html>
<html>
<head>
  <title>{% current_site_name %} {% block title %}{% endblock %}</title>
  <!-- APIS release: {% settings_value 'SENTRY_RELEASE' %} -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  <link href="{% static 'css/bs-cerulean.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet" media="screen">
  <script
      src="https://browser.sentry-cdn.com/8.51.0/bundle.min.js"
      integrity="sha384-UOoDPZa8zKe2+XR6MQctS46ElT1RITQSH47kT4eyprRgzqtUHu7xEGJCPQFZgre6"
      crossorigin="anonymous"
  ></script>
  <script>
      const SENTRY_ENABLED = {% settings_value_bool 'SENTRY_ENABLED' %};
      const SENTRY_USER_REPORTS = {% settings_value_bool 'SENTRY_USER_REPORTS' %};
      const SENTRY_FRONTEND_DSN = "{% settings_value 'SENTRY_FRONTEND_DSN' %}";
      const SENTRY_ENVIRONMENT = "{% settings_value 'SENTRY_ENVIRONMENT' %}";
      const SENTRY_RELEASE = "{% settings_value 'SENTRY_RELEASE' %}";
  </script>
  <script src="{% static 'js/main-init-sentry.js' %}"></script>
  {% block head %}{% endblock %}

</head>
<body>

<!-- Subhead
================================================== -->
<div class="artisan2">
  <div class="artisan">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="content-holder">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container footer">
    {% settings_value 'ENVIRONMENT_NAME' %} - <a href="https://github.com/furthemore/APIS/tree/{% settings_value 'SENTRY_RELEASE' %}">{% settings_value 'SENTRY_RELEASE' %}</a>
  </div>
</footer>

<script>
    {% if event %}
        const event_start_date = new {% event_start_date event %};
        const EVENT_NAME = "{{ event.name }}";
        const EVENT_REGISTRATION_EMAIL = "{{ event.registrationEmail }}";
        const EVENT_COLLECT_ADDRESS = {% if event.collectAddress %}true{% else %}false{% endif %};
    {% else %}
        const EVENT_COLLECT_ADDRESS = false;
    {% endif %}
    let IDEMPOTENCY_KEY = "{% idempotency_key %}";
</script>

<script src="{% static 'js/modernizr-custom.js' %}"></script>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/jquery.loadTemplate.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-formhelpers.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jSignature.min.js' %}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
