{% extends "registration/master.html" %}
{% load settings registration_tags %}

{% block content %}
  {% if orderItems %}
    <h1>Finalize Registration</h1>
    <h3>Add another attendee to your order, or click Finish</h3>
    <hr>

    <h3>Your Order</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Attendee</th>
          <th>Price Level</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in orderItems %}
          <tr>
            {% if item.attendee %}
              <td>{% attendee_get_first item.attendee %} {{ item.attendee.lastName }}</td>
              <td>{{ item.priceLevel }}</td>
              <td>${{ item.priceLevel.basePrice }}</td>
              <td><a class="deleteAttendee" id="delete_{{ item.id }}">&times; Remove</a></td>
            {% else %}
              <td colspan="2">{{ item.badge.attendee }} - {{ item.priceLevel }}</td>
              <td></td>
              <td></td>
            {% endif %}
          </tr>
          {% if discount %}
            <tr>
              <td>Discount - {{ discount.codeName }}</td>
              <td></td>
              {% if discount.amountOff == 0 %}
                <td>- ${{ total_discount|floatformat:2 }}</td>
              {% else %}
                <td>- ${{ discount.amountOff|floatformat:2 }}</td>
              {% endif %}
              <td></td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr class="table-success">
          <td><strong>Total</strong></td>
          <td></td>
          <td><strong>${{ total|floatformat:2 }}</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="mb-3">
      <a class="btn btn-primary me-2" id="addAnother">Add Another Attendee</a>
      <a class="btn btn-secondary" id="cancel">Cancel Registration</a>
    </div>

    <hr/>

    <form class="row g-3" novalidate>
      <h3>Extra Donations</h3>
      <p>
        {% if event.charity %}
          If you would like to make an extra gift to our annual charity, {{ event.charity }},
          or to the convention, please enter it below.
        {% else %}
          If you would like to make an extra gift to the convention, please enter it below.
        {% endif %}
      </p>

      {% if event.charity %}
        <div class="row mb-3">
          <label for="donateCharity" class="col-sm-3 col-form-label">Donate to {{ event.charity }}</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" pattern="^\d+(?:\.\d{0,2})?$" placeholder="0.00" id="donateCharity"
                     class="form-control validate"/>
              <div class="invalid-feedback">Please use only numbers and a decimal.</div>
            </div>
          </div>
          <div class="offset-sm-3 col-sm-9">
            <div class="invalid-feedback with-errors"></div>
          </div>
        </div>
      {% endif %}

      <div class="row mb-3">
        <label for="donateOrg" class="col-sm-3 col-form-label">Donate to {{ event }}</label>
        <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" id="donateOrg" class="form-control" placeholder="0.00" min="0" step="0.01">
          </div>
        </div>
      </div>

      {% csrf_token %}

      <div class="row">
        <div class="col-sm-3 offset-sm-9">
          <a class="btn btn-primary w-100" id="checkout">Finish</a>
        </div>
      </div>
    </form>

  {% else %}
    <h1>Checkout</h1>
    <h3>There are no attendees in your order</h3>
    <hr>
    <a class="btn btn-primary" href="{% url 'registration:onsite' %}">Add Attendee</a>
  {% endif %}

{% endblock %}


{% block javascript %}
  <script type="text/javascript">
      function checkout_click(e) {
          e.preventDefault();
          if (!formIsValid()) {
              $("#checkout").one('click', checkout_click);
              return;
          }
          $("#checkout").attr("disabled", "disabled");

          $.ajax({
              "type": "POST",
              "dataType": "json",
              "contentType": "application/json; charset=utf-8",
              "url": "{% url 'registration:checkout' %}",
              "data": JSON.stringify({
                  'onsite': true,
                  'billingData': {},
                  'charityDonation': $("#donateCharity").val(),
                  'orgDonation': $("#donateOrg").val()
              }),
              "beforeSend": function (xhr, settings) {
                  $.ajaxSettings.beforeSend(xhr, settings);
              },
              "error": function () {
                  alert("An error has occurred. If this error continues, please contact {{event.registrationEmail}} for assistance.");
                  $("#checkout").one('click', checkout_click).removeAttr("disabled");
              },
              "success": function (result) {
                  if (result.success) {
                      window.location = "{% url 'registration:onsite_done' %}";
                  } else {
                      alert("An error has occurred: " + result.message + " If this error continues, please contact {{event.registrationEmail}} for assistance.");
                      $("#checkout").one('click', checkout_click).removeAttr("disabled");
                  }
              }
          });
      }

      $(document).ready(function () {
          $("#donateCharity").change(setTwoNumberDecimal);
          $("#donateOrg").change(setTwoNumberDecimal);
          $("#checkout").one('click', checkout_click);

          $(".deleteAttendee").click(function (e) {
              $.ajax({
                  "type": "POST",
                  "dataType": "json",
                  "contentType": "application/json; charset=utf-8",
                  "url": "{% url 'registration:remove_from_cart' %}",
                  "data": JSON.stringify({'id': this.id.split('_')[1]}),
                  "beforeSend": function (xhr, settings) {
                      $.ajaxSettings.beforeSend(xhr, settings);
                  },
                  "error": function (result, status, error) { alert(error); },
                  "success": function (result) {
                      if (result.success) {
                          window.location.reload();
                      } else {
                          alert("An error has occurred: " + result.message + " If this error continues, please contact {{event.registrationEmail}} for assistance.");
                      }
                  }
              });
          });

          $("#addAnother").click(function () {
              window.location = "{% url 'registration:onsite' %}";
          });

          $("#cancel").click(function () {
              if (!window.confirm("Are you sure you want to cancel your registration? This will remove all attendees from your order.")) return;
              $.getJSON("{% url 'registration:cancel_order' %}", function () {
                  window.location = "{% url 'registration:onsite' %}";
              });
          });
      });
  </script>
{% endblock %}
