{% extends "registration/master.html" %}

{% block content %}
  <h1>Registration - {{ event }}</h1>
  <h3>Thank you for registering!</h3>
  <hr>
  <p>Please wait for the next available cashier to pay and pick up your badge.</p>
  <a href="{% url 'registration:onsite' %}"><h3>Start a new registration</h3></a>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
      setTimeout(function () {
          window.location = "{% url 'registration:onsite' %}";
      }, 5000);
  </script>
{% endblock %}
