{% extends "registration/master_admin.html" %}
{% load admin_urls static settings %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/onsite-admin.css' %}" />
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-sm-6">
            <h2><a href="{% url 'registration:onsiteAdmin' %}">APIS Register</a></h2>
        </div>
        <div class="col-sm-2 col-sm-offset-2 col-top">
            <form class="form-inline" id="terminal_form" method="get">
                <label for="pos" class="sr-only">Register Position</label>
                <select class="form-control" id="pos" name="terminal">
                {% for terminal in terminals %}
                  {% if request.session.terminal == terminal.id %}
                    <option selected value="{{ terminal.id }}">{{ terminal.name }}</option>
                  {% else %}
                    <option value="{{ terminal.id }}">{{ terminal.name }}</option>
                  {% endif %}
                {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-sm-2 col-top">
          <div class="row">
            <div class="col-sm-4">
                <div class="dropdown">
                    <button id="options" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i><span class="sr-only">Terminal options</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="user">
                        <li><a href="#" id="open-terminal">Open Position <i class="fas fa-check right"></i></a></li>
                        <li><a href="#" id="close-terminal">Close Position <i class="fas fa-window-close right"></i></a></li>
			{% if perms.registration.cash_admin %}
			<li role="separator" class="divider"></li>
                    	<li><a href="#" id="open-drawer">Open Drawer <i class="fas fa-money-bill-wave right"></i></a></li>
                    	<li><a href="#" id="cash-deposit">Cash Deposit <i class="fas fa-plus right"></i></a></li>
                    	<li><a href="#" id="safe-drop">Safe Drop <i class="bi-safe-fill right"></i></a></li>
                    	<li><a href="#" id="cash-pickup">Cash Pickup <i class="fas fa-minus right"></i></a></li>
                    	<li><a href="#" id="close-drawer">Close Drawer <i class="fas fa-store-alt-slash right"></i></a></li>
			{% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dropdown">
                    <button id="user" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i><span class="sr-only">User options</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="user">
                        <li><a href="{% url 'registration:logout' %}?next={% url 'registration:onsiteAdmin' %}">Sign Out <i class="fas fa-sign-out-alt right"></i></a></li>
                    </ul>
                </div>
            </div>

          </div>
        </div>
    </div>

    <hr>

    {% for error in errors %}
    <div class="alert alert-{{ error.type }}" role="alert">{{ error.text }}</div>
    {% endfor %}

    <div class="alert alert-danger" id="client-error">
      <i class="fas fa-exclamation-triangle"></i>
      <span class="sr-only">Error:</span>
      <b>There was a problem while connecting to the server.</b>
       <a class="alert-link" href="{% url 'registration:onsiteAdmin' %}">Reload</a>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline my-lg-0" action="{% url 'registration:onsiteAdmin' %}" method="get">
                <input type="hidden" id="terminal" name="terminal" value="{{ request.session.terminal }}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search attendee"
                    autofocus="autofocus" autocomplete="off" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Search <i class="fas fa-search"></i>
                </button>
                <a href="{% url 'registration:onsite' %}" class="btn btn-success my-2 my-sm-0" target="_blank">
                    Add Attendee <i class="fas fa-plus-circle"></i>
                </a>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Search results</div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Legal Name</th>
                  <th>Preferred Name</th>
                  <th>Badge Name</th>
                  <th>Status</th>
                  <th><span class="sr-only">Action</span></th>
                </tr>
              </thead>
              <tbody>
              {% for badge in results %}
                <tr>
                  <td class="results">{{ badge.attendee.firstName }} {{ badge.attendee.lastName }}</td>
                  <td class="results">{{ badge.attendee.preferredName }}</td>
                  <td class="results">{{ badge.badgeName }}</td>
                  <td>{{ badge.abandoned }}</td>
                  <td style="text-align: right">
                    <a target="_blank" href="{% url 'admin:registration_badge_change' badge.id %}" class="btn btn-info" title="Edit attendee"><i class="fas fa-edit"></i></a>
                      <a href="#" class="btn btn-success add-badge" data-id="{{ badge.id }}" title="Add {{ badge.attendee.firstName }} to cart"><i class="fas fa-plus"></i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
        <div class="alert alert-danger" id="cart-error" role="alert">
          An error occurred.
        </div>
          <div class="row"><div class="col-md-8">
            <h2>Cart&nbsp;
              <a id="refresh_button" href="#" title="Refresh">
                <i class="fas fa-sync"></i><span class="sr-only">Refresh</span>
              </a>
            </h2>
          </div><div class="col-md-4" style="margin-top: 20px">
            <a href="{% url 'registration:onsiteAdminClearCart' %}?terminal={{ request.session.terminal }}&search={{ request.GET.search }}" class="btn btn-danger right">Clear</a>
          </div></div>
          <div id="cart"></div>
          <div class="total" id="total"></div>

            <div class="row button-group">
                <div class="col-md-6">
                    {% if perms.registration.cash %}
                    <button class="btn btn-block btn-primary" id="cash_button" disabled>
                        <i class="fas fa-money-bill-alt"></i> Tender Cash
                    </button>
                  {% endif %}
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-warning" id="credit_button" disabled>
                        <i class="fas fa-credit-card"></i> Credit/Debit
                    </button>
                </div>
            </div>
            <div class="row button-group">
              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="print_button" disabled>
                  <i class="fas fa-print"></i> Print Badges
                </button>
              </div>

              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="print_preview" disabled>
                  <i class="fas fa-file-pdf"></i> Print Preview
                </button>
              </div>
            </div>

            {% if perms.registration.discount %}
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="receipt_button" disabled>
                  <i class="fas fa-receipt"></i> Print Receipt
                </button>
              </div>

                <div class="col-md-6">
                <button class="btn btn-block btn-danger" id="discount_button">
                    <i class="fas fa-tag"></i> Discount
                </button>
                </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-block btn-primary" id="receipt_button" disabled>
                  <i class="fas fa-receipt"></i> Print Receipt
                </button>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="info_modal" tabindex="-1" aria-labelledby="info_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  <script type="text/html" id="itemRowTemplate">
    <tr>
      <td><span data-content="quantity"></span> &times; <span data-content="item"></span> (@<span data-content="price"></span>)</td>
      <td><span data-content="total"></span></td>
    </tr>
  </script>

  <script type="text/html" id="cartTemplate">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-content="abandoned" data-format="PaidBadgeFormatter"></span>
        <span data-content="holdType" data-format="HoldTypeFormatter"></span>
        <span data-content="printed" data-format="PrintedBadgeFormatter"></span>
        <span data-content="badgeNumber" data-format="PrintedBadgeNumberFormatter"></span>
        <a class="link-badge" href="#" data-id="delete_id"><span data-content="name"></span></a>
        <a class="remove-badge" href="#" data-id="delete_id"><i class="fas fa-trash-can"></i></a>
        <span data-content="age" data-format="MinorFormFormatter" class="age"></span>
      </div>
      <table class="table cart-table">
        <thead>
          <tr data-class="state">
            <th>Badge Name</th>
            <th>Level</th>
            <th>Price</th>
           </tr>
        </thead>
        <tbody>
          <tr data-class="state">
            <td data-content="badgeName"></td>
            <td data-content="level"></td>
            <td><span class="price-line" data-content="price"></span></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr data-class="state">
            <th>Order Item</th>
            <th>Price</th>
           </tr>
        </thead>
        <tbody data-id="items_id"></tbody>
      </table>
    </div>
  </script>

  <script type="text/html" id="totalTemplate">
    <table class="total-table">
      <tr>
        <td>Subtotal:</td>
        <td>$<span data-content="subtotal"></span></td>
      </tr>
      <tr>
        <td>Discounts:</td>
        <td>-$<span data-content="total_discount"></span></td>
      </tr>
      <tr>
        <td>Donation to Charity:
        <td>$<span data-content="charityDonation"></span>
      </tr>
      <tr>
        <td>Donation to Convention:
        <td>$<span data-content="orgDonation"></span>
      </tr>
      <tr>
        <td><b>Total:</b>
        <td class="success"><b>$<span data-content="total"></span></b>
      </tr>
    </table>
  </script>
{% endblock %}

{% block javascript %}
<script>
const DEBUG = {% settings_value_bool 'DEBUG' %};

const URL_REGISTRATION_ASSIGN_BADGE_NUMBER = "{% url 'registration:assignBadgeNumber' %}";
const URL_REGISTRATION_ONSITE_PRINT_BADGES = "{% url 'registration:onsitePrintBadges' %}";
const URL_REGISTRATION_ONSITE_ADMIN_CLEAR_CART = "{% url 'registration:onsiteAdminClearCart' %}";
const URL_REGISTRATION_ONSITE_ADMIN_CART = "{% url 'registration:onsiteAdminCart' %}";
const URL_REGISTRATION_ONSITE_ADMIN_ADD_TO_CART = "{% url 'registration:onsiteAddToCart' %}";
const URL_REGISTRATION_ONSITE_REMOVE_FROM_CART = "{% url 'registration:onsiteRemoveFromCart' %}";
const URL_REGISTRATION_OPEN_TERMINAL = "{% url 'registration:openTerminal' %}";
const URL_REGISTRATION_CLOSE_TERMINAL = "{% url 'registration:closeTerminal' %}";
const URL_REGISTRATION_OPEN_DRAWER = "{% url 'registration:openDrawer' %}";
const URL_REGISTRATION_CASH_DEPOSIT = "{% url 'registration:cashDeposit' %}";
const URL_REGISTRATION_SAFE_DROP = "{% url 'registration:safeDrop' %}";
const URL_REGISTRATION_CASH_PICKUP = "{% url 'registration:cashPickup' %}";
const URL_REGISTRATION_CLOSE_DRAWER = "{% url 'registration:closeDrawer' %}";
const URL_REGISTRATION_ENABLE_PAYMENT = "{% url 'registration:enablePayment' %}";
const URL_REGISTRATION_COMPLETE_CASH_TRANSACTION = "{% url 'registration:completeCashTransaction' %}";
const URL_ADMIN_REGISTRATION_BADGE = "{% url 'admin:registration_badge_change' 0 %}";
const URL_REGISTRATION_ONSITE_ADMIN_CREATE_DISCOUNT = "{% url 'registration:onsite_create_discount' %}";

// MQTT credentials for in-browser push notifications
const MQTT_ENABLED = {% if mqtt_auth %}true{% else %}false{% endif %};
const MQTT_OPTIONS = {
    username: "{{ mqtt_auth.user }}",
    password: "{{ mqtt_auth.token }}",
    clientId: "{{ mqtt_auth.user}}-" + Math.random().toString(16).substr(2, 8),
    clean: true,
};

const MQTT_BROKER = "{% settings_value 'MQTT_EXTERNAL_BROKER' %}";
const MQTT_BASE_TOPIC = "{{ mqtt_auth.base_topic }}";

</script>

<script src="{% static 'js/mqtt.min.js' %}"></script>
<script src="{% static 'js/onsite/onsite_push.js' %}"></script>
<script src="{% static 'js/onsite/onsite_admin.js' %}"></script>
{% endblock %}
