{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Registration - Furthemore 2018</h1>
		<h3>Thank you for your registering!</h3>
		<hr>
		<p>Please wait for the next available cashier to pay and pick up your badge.</p>
	</div>
	</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$( "body" ).ready(function () {
    setTimeout(function(){
       window.location = "{% url 'onsite' %}";
    }, 5000);
});
</script>

{% endblock %}
