{% extends "registration/master.html" %}

{% load registration_tags static %}

{% block content %}
  <div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
        </div>
        <div class="modal-body">
          <p>A parent or legal guardian must be present at the door to register anybody who will be under 18 at the time
            of the event. A parent or guardian must also register for the convention to accompany anyone under the age
            of 13 at the time of the event.</p>
          <p>All attendees, even those too young to attend without a parent or legal guardian, must have a printed badge
            for safety reasons.</p>
          <p>Please talk to registration staff if you have any questions.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="codeOfConduct" tabindex="-1" role="dialog" aria-labelledby="codeOfConduct">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <iframe src="{{ event.codeOfConduct }}" style="width: 100%; height: 600px"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <form class="form-horizontal" role="form" data-toggle="validator">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="personal">
        <h1>{{ event }} Onsite Registration</h1>
        <p>Welcome to the registration system. To continue, enter your information below. Required fields are marked
          with a red asterisk (<span style="color:red;">*</span>).</p>
        <hr>

        {% show_attendee_form event=event emailOptions=True attendee=request.GET %}


        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <a href="#registration" class="btn btn-primary col-sm-6 col-sm-offset-6 pull-right"
               aria-controls="registration" role="tab" data-toggle="tab" id="next-personal">Next >></a>
          </div>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane fade" id="registration">
        <h2>Registration Info</h2>
        <p>Select your registration options and level.</p>
        <hr>
        <div class="form-group">
          <label for="badgeName" class="col-sm-3 control-label">Badge Name <span style="color:red;">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="badgeName" name="badgeName" autocomplete="off" placeholder="Your Name Here.."
                   class="form-control form-control-text" maxlength="25" required>
          </div>
          <div class="col-sm-offset-3 help-block with-errors" style=" padding-left:15px;"></div>
        </div>

        <div class="row" id="levelContainer"></div>
        <br/>
        <hr/>
        <div class="form-group">
            <div class="checkbox col-sm-12">
            <label>
              <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-control-checkbox" required
                      data-error="You must agree to the event code of conduct to register.">
              I agree to abide by the {{ event.name }} <a href="{{ event.codeOfConduct }}" target="_blank">Code of
              Conduct</a>. By registering for {{ event }} you attest that you are not listed on any sexual offender
              registry.
            </label>
          </div>
          <div class="col-sm-offset-3 help-block with-errors" style=" padding-left:15px;"></div>
        </div>
        <div>
          <a href="#personal" class="btn btn-primary col-sm-6" aria-controls="personal" role="tab" data-toggle="tab"
             id="back-registration"><< Back</a>
          <button type="submit" class="btn btn-primary col-sm-6 pull-right" id="register">Register</button>
        </div>
      </div>
    </div>
    {% csrf_token %}
  </form>

{% endblock %}

{% block javascript %}

  <script type="text/html" id="levelTemplate">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
      <div class="panel price">
        <div class="panel-heading  text-center">
          <h3 data-content="name"></h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong data-content="price"></strong></p>
        </div>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger selectLevel" href="#" data-id="levelId">Select</a>
          <a class="btn btn-default btn-block changeLevel" href="#">Change Level?</a>
        </div>
      </div>
    </div>
  </script>


  <script type="text/html" id="optionBoolTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <input type="checkbox" data-id="id" class="form-control form-control-text levelOptions"/>
      </div>
    </div>
    <div>
      <script type="text/html" id="optionBoolReqTemplate">
        <div class="form-group">
          <label class="col-sm-3 control-label" data-content="name"></label>
          <div class="col-sm-9">
            <input type="checkbox" data-id="id" class="form-control form-control-text levelOptions" required/>
          </div>
        </div>
        <div>

  </script>
  <script type="text/html" id="optionIntTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <input type="number" data-id="id" class="form-control form-control-text levelOptions" min=0/>
      </div>
    </div>

  </script>
  <script type="text/html" id="optionIntReqTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <input type="number" data-id="id" class="form-control form-control-text levelOptions" required min=0/>
      </div>
    </div>

  </script>
  <script type="text/html" id="optionStringTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions"
               data-template-bind='{"attribute": "placeholder", "value": "placeholder"}'/>
      </div>
    </div>
  </script>
  <script type="text/html" id="optionStringReqTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions" required
               data-template-bind='{"attribute": "placeholder", "value": "placeholder"}'/>
      </div>
    </div>
  </script>
  <script type="text/html" id="optionListTemplate">
    <div class="form-group">
      <label class="col-sm-3 control-label" data-content="name"></label>
      <div class="col-sm-9">
        <select data-id="id" class="form-control form-control-select levelOptions"
                data-template-bind='{"attribute": "options", "value": {"data": "options", "value":"value", "content":"content"}}'></select>
      </div>
    </div>
  </script>

  <script type="text/javascript">
      let levelTemplateData = [];
      let minorLevelTemplateData = [];
      let accompaniedLevelTemplateData = [];
      let freeLevelTemplateData = [];
      let levelData = [];
      let minorLevelData = [];
      let accompaniedLevelData = [];
      let freeLevelData = [];
      let deptData = [];
      let shirtSizes = [];

      function updatePriceLevels() {
        levelTemplateData = [];

        const [year, month, day] = [
          $("#byear").val(),
          $("#bmonth").val(),
          $("#bday").val()
        ];

        if (!year || !month || !day) return;

        $.post("{% url 'registration:pricelevels' %}", JSON.stringify({
            year,
            month,
            day,
            form_type: FORM_TYPE,
          }), function (data) {
              levelData = data;
              $.each(data, function (key, val) {
                  levelTemplateData.push({
                      name: val.name,
                      price: "$" + val.base_price,
                      levelId: "level_" + val.id,
                      selectText: "Select " + val.name
                  });
              });
              $(".changeLevel").hide();

          });
      }

      $("body").ready(function () {
          $("#bday, #bmonth, #byear").on("input", function() {
            updatePriceLevels();
          });
          $.getJSON("{% url 'registration:departments' %}", function (data) {
              deptData = data;
              $.each(data, function (key, val) {
                  $("#volunteer").append("<option value='" + val.id + "'>" + val.name + "</option>");
              });
          });
          $.getJSON("{% url 'registration:shirtsizes' %}", function (data) {
              shirtSizes = data;
          });
      });

      $(document).ready(function () {
          // scroll to top on all the next views
          $("#next-personal").click(function () {
              window.scrollTo(0, 0);
          });

          $("#levelContainer").on('click', 'a.selectLevel', function () {
              clearLevels();
              let levelId = $(this).attr('id').split('_')[1];
              $.each(levelTemplateData, function (key, val) {
                  let id = val.levelId.split('_')[1];
                  if (id == levelId) {
                      $("#regLevel").val(val.name);
                      $("#levelContainer").loadTemplate($("#levelTemplate"), val);
                      $(".changeLevel").show();
                      $(".selectLevel").text("Selected!");
                      generateOptions(id);
                      return false;
                  }
              });
              $.each(minorLevelTemplateData, function (key, val) {
                  let id = val.levelId.split('_')[1];
                  if (id == levelId) {
                      $("#regLevel").val(val.name);
                      $("#levelContainer").loadTemplate($("#levelTemplate"), val);
                      $(".changeLevel").show();
                      $(".selectLevel").text("Selected!");
                      generateOptions(id);
                      return false;
                  }
              });
              $.each(accompaniedLevelTemplateData, function (key, val) {
                  let id = val.levelId.split('_')[1];
                  if (id == levelId) {
                      $("#regLevel").val(val.name);
                      $("#levelContainer").loadTemplate($("#levelTemplate"), val);
                      $(".changeLevel").show();
                      $(".selectLevel").text("Selected!");
                      generateOptions(id);
                      return false;
                  }
              });
              $.each(freeLevelTemplateData, function (key, val) {
                  let id = val.levelId.split('_')[1];
                  if (id == levelId) {
                      $("#regLevel").val(val.name);
                      $("#levelContainer").loadTemplate($("#levelTemplate"), val);
                      $(".changeLevel").show();
                      $(".selectLevel").text("Selected!");
                      generateOptions(id);
                      return false;
                  }
              });
          });

          $("body").on("click", '#next-personal', function () {
              let birthdate = new Date(Date.parse($("#birthDate").val()));

              let age;
              try {
                  age = getAgeByEventStart(birthdate);
              } catch (e) {
                  console.log(e);
                  alert(e);
              }

              let level_data = levelTemplateData;
              debugger;

              if (age < 0) {
                  alert("You must be born before today to exist.\n(Please check your date of birth and try again)");
                  return false;
              }

              // if (age < 7) {
              //     level_data = freeLevelTemplateData

              // } else if (age < 13) {
              //     level_data = accompaniedLevelTemplateData;

              // } else if (age < 18) {
              //     level_data = minorLevelTemplateData;

              // } else {
              //     level_data = levelTemplateData;
              // }

              if (level_data.length == 0) {
                  alert("Assistance Required:\n\nNo price level matching this age range (age = " + age + ") is available for this event.  Please see staff for assistance.");
                  return false;
              }

              $("#levelContainer").loadTemplate($("#levelTemplate"), level_data);
              $(".changeLevel").hide();

          });


          $("#levelContainer").on('click', 'a.changeLevel', function () {
              $("#levelContainer").loadTemplate($("#levelTemplate"), levelTemplateData);
              $("#regLevel").val("");
              $(".changeLevel").hide();
          });
      });

      let clearLevels = function () {
          $.each(levelTemplateData, function (key, val) {
              $("#" + val.levelId).text("Select " + val.name);
          });
          $("form").validator('update');
      };

      let generateOptions = function (levelId) {
          let data = [];
          $.each(levelData, function (key, thing) {
              if (thing.id == levelId) {
                  data = thing.options;
                  return false;
              }
          });
          let container = $("<div id='optionsContainer' class='col-xs-6 col-sm-6 col-md-6 col-lg-8'><h4>Registration Options</h4><hr/></div>");
          $("#levelContainer").append(container);
          if (data.length == 0) {
              $("#optionsContainer").append("<h4>None</h4>")
          }
          $.each(data, function (key, val) {
              if (!val.active) {
                  return true;
              }
              if (val.value == "0.00") {
                  let price = " (Free) ";
              } else {
                  let price = " (+$" + val.value + ") "
              }
              let required = "";
              if (val.required) {
                  required = "required";
              }
              switch (val.type) {
                  case "bool":
                      let optionBoolTemplate = $("#optionBoolTemplate");
                      if (val.required) {
                          optionBoolTemplate = $("#optionBoolReqTemplate");
                      }
                      $("#optionsContainer").loadTemplate(optionBoolTemplate, {
                          'name': val.name + " " + price,
                          'id': "option_" + val.id
                      }, {append: true});
                      break;
                  case "int":
                      let optionIntTemplate = $("#optionIntTemplate");
                      if (val.required) {
                          optionIntTemplate = $("#optionIntReqTemplate");
                      }
                      $("#optionsContainer").loadTemplate(optionIntTemplate, {
                          'name': val.name + " " + price,
                          'id': "option_" + val.id
                      }, {append: true});
                      break;
                  case "string":
                      let optionStringTemplate = $("#optionStringTemplate");
                      if (val.required) {
                          optionStringTemplate = $("#optionStringReqTemplate");
                      }
                      let placeholder = val.name;
                      $("#optionsContainer").loadTemplate(optionStringTemplate, {
                          'name': val.name + " " + price,
                          'id': "option_" + val.id,
                          'placeholder': placeholder,
                      }, {append: true});
                      break;
                  case "Jersey":
                      break;
                  case "StaffJersey":
                      break;
                  default:
                      if (val.list == []) {
                          break;
                      }
                      let options = [];
                      if (!val.required) {
                          options.push({"content": "Select One...", "value": ""});
                      }
                      $.each(val.list, function (key, item) {
                          options.push({"content": item.name, "value": item.id})
                      });
                      $("#optionsContainer").loadTemplate($("#optionListTemplate"), {
                          'name': val.name + " " + price,
                          'id': "option_" + val.id,
                          'options': options
                      }, {append: true});
                      break;
              }
          });
          if ($.trim($('#optionsContainer').html()).length <= 33) {
              $("#optionsContainer").append("<h4>None</h4>")
          }
          $("form").validator('update');
      };

      let getOptions = function () {
          let options = $(".levelOptions");
          let data = [];
          $.each(options, function (key, option) {
              if ($(option).is(':checkbox')) {
                  if ($(option).is(':checked')) {
                      data.push({'id': option.id.split('_')[1], 'value': $(option).is(':checked')});
                  }
              } else {
                  data.push({'id': option.id.split('_')[1], 'value': $(option).val()});
              }
          });
          return data;
      };

      function register_click(e) {
          e.preventDefault();
          $("form").validator('validate');
          let errorCount = $(".has-error").length;
          if (errorCount > 0) {
              $("#register").one('click', register_click);
              return;
          }

          if (($("#birthDate").val() == "")) {
              alert("You must enter your birthdate to submit your registration.");
              $("#register").one('click', register_click);
              return;
          }
          let birthdate = new Date(Date.parse($("#birthDate").val()));
          let data = {
              'attendee': {
                  'firstName': $("#firstName").val(),
                  'lastName': $("#lastName").val(),
                  'preferredName': $("#preferredName").val(),
                  'address1': $("#add1").val(),
                  'address2': $("#add2").val(),
                  'city': $("#city").val(),
                  'state': $("#state").val(),
                  'country': $("#country").val(),
                  'postal': $("#zip").val(),
                  'phone': $("#phone").val(),
                  'email': $("#email").val(),
                  'birthdate': $("#birthDate").val(),
                  'badgeName': $("#badgeName").val(),
                  'emailsOk': $("#contact").is(':checked'),
                  'surveyOk': $("#survey").is(':checked'),
                  'volDepts': '',
                  'asl': '',
                  'onsite': true
              },
              'priceLevel': {'id': $(".selectLevel")[0].id.split('_')[1], 'options': getOptions()},
              'jersey': {}, 'event': '{{ event }}'
          };
          $.ajax({
              "type": "POST",
              "dataType": "json",
              "contentType": "application/json; charset=utf-8",
              "url": "{% url 'registration:add_to_cart' %}",
              "data": JSON.stringify(data),
              "beforeSend": function (xhr, settings) {
                  console.log("Before Send");
                  $.ajaxSettings.beforeSend(xhr, settings);
              },
              "success": function (result) {
                  window.location = "{% url 'registration:onsite_cart' %}";
              },
              "error": function (result, status) {
                  alert("An error has occurred. Please contact {{ event.registrationEmail }} and we will correct the problem.")
                  $("#register").one('click', register_click);
              }
          });
      }

      $(document).ready(function () {
          $("#register").one('click', register_click);
      });
  </script>

  <script src="{% static 'js/date-entry.js' %}"></script>


{% endblock %}
