{% extends "registration/master_admin.html" %}
{% load admin_urls %}

{% block content %}


    <div class="row">
        <div class="col-md-6">
            <h2><a href="{% url 'registration:onsiteAdmin' %}">APIS Register</a></h2>
        </div>
        <div class="col-md-2 col-md-offset-2 col-top">
            <form class="form-inline" id="terminal_form" method="get">
                <label for="pos" class="sr-only">Register Position</label>
                <select class="form-control" id="pos" name="terminal">
                {% for terminal in terminals %}
                  {% if request.session.terminal == terminal.id %}
                    <option selected value="{{ terminal.id }}">{{ terminal.name }}</option>
                  {% else %}
                    <option value="{{ terminal.id }}">{{ terminal.name }}</option>
                  {% endif %}
                {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-md-1 col-top">
            <div class="dropdown">
                <button id="user" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i><span class="sr-only">Terminal options</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="user">
                    <li><a href="#" id="open-terminal">Open Position <i class="fas fa-check right"></i></a></li>
                    <li><a href="#" id="close-terminal">Close Position <i class="fas fa-window-close right"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 col-top">
            <div class="dropdown">
                <button id="user" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i><span class="sr-only">User options</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="user">
                    <li><a href="{% url 'registration:logout' %}?next={% url 'registration:onsiteAdmin' %}">Sign Out <i class="fas fa-sign-out-alt right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    {% for error in errors %}
    <div class="alert alert-{{ error.type }}" role="alert">{{ error.text }}</div>
    {% endfor %}

    <div class="alert alert-danger" id="client-error">
      <i class="fas fa-exclamation-triangle"></i>
      <span class="sr-only">Error:</span>
      <b>There was a problem while connecting to the server.</b>
       <a class="alert-link" href="{% url 'registration:onsiteAdmin' %}">Reload</a>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline my-lg-0" action="{% url 'registration:onsiteAdmin' %}" method="get">
                <input type="hidden" id="terminal" name="terminal" value="{{ request.session.terminal }}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search attendee"
                    autofocus="autofocus" autocomplete="off" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Search <i class="fas fa-search"></i>
                </button>
                <a href="{% url 'registration:onsite' %}" class="btn btn-success my-2 my-sm-0" target="_blank">
                    Add Attendee <i class="fas fa-plus-circle"></i>
                </a>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Search results</div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Attendee Name</th>
                  <th>Badge Name</th>
                  <th>Status</th>
                  <th><span class="sr-only">Action</span></th>
                </tr>
              </thead>
              <tbody>
              {% for badge in results %}
                <tr>
                  <td class="results">{{ badge.attendee.firstName }} {{ badge.attendee.lastName }}</td>
                  <td class="results">{{ badge.badgeName }}</td>
                  <td>{{ badge.abandoned }}</td>
                  <td style="text-align: right">
                    <a target="_blank" href="{% url 'admin:registration_badge_change' badge.id %}" class="btn btn-info" title="Edit attendee"><i class="fas fa-edit"></i></a>
                      <a href="#" class="btn btn-success add-badge" data-id="{{ badge.id }}" title="Add {{ badge.attendee.firstName }} to cart"><i class="fas fa-plus"></i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
        <div class="alert alert-danger" id="cart-error" role="alert">
          An error occurred.
        </div>
          <div class="row"><div class="col-md-8">
            <h2>Cart&nbsp;
              <a id="refresh_button" href="#" title="Refresh">
                <i class="fas fa-sync"></i><span class="sr-only">Refresh</span>
              </a>
            </h2>
          </div><div class="col-md-4" style="margin-top: 20px">
            <a href="{% url 'registration:onsiteAdminClearCart' %}?terminal={{ request.session.terminal }}&search={{ request.GET.search }}" class="btn btn-danger right">Clear</a>
          </div></div>
          <div id="cart"></div>
          <div class="total" id="total"></div>

            <div class="row button-group">
                <div class="col-md-6">
                    {% if perms.registration.cash %}
                    <button class="btn btn-block btn-primary" id="cash_button" disabled>
                        <i class="fas fa-money-bill-alt"></i> Tender Cash
                    </button>
                  {% endif %}
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-warning" id="credit_button" disabled>
                        <i class="fas fa-credit-card"></i> Credit/Debit
                    </button>
                </div>
            </div>
            <div class="row button-group">
              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="print_button" disabled>
                  <i class="fas fa-print"></i> Print Badges
                </button>
              </div>

              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="print_preview" disabled>
                  <i class="fas fa-file-pdf"></i> Print Preview
                </button>
              </div>
            </div>

            {% if perms.registration.discount %}
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-block btn-primary" id="receipt_button" disabled>
                  <i class="fas fa-receipt"></i> Print Receipt
                </button>
              </div>

                <div class="col-md-6">
                <button class="btn btn-block btn-danger" id="discount_button">
                    <i class="fas fa-tag"></i> Discount
                </button>
                </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-block btn-primary" id="receipt_button" disabled>
                  <i class="fas fa-receipt"></i> Print Receipt
                </button>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    <style>
        .well, .panel {
            margin-top: 20px;
        }

        #refresh_button {
            font-size: 50%;
        }

        #pos {
            width: 100%;
        }

        .price-line {
            font-weight: bold;
            font-size: 1.2em;
        }

        .price-line::before {
            content: '$';
        }

        .age {
            float: right;
        }

        .right {
            float: right;
        }

        .cart-table td {
            font-size: 1.6em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .results {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }

        .total {
            margin-bottom: 22px;
        }

        .button-group {
            margin-bottom: 20px;
        }

        .total-table {
            font-size: 22px;
            width: 100%;
        }

        .total-table td {
            padding-right: 10px;
        }

        .total-table tr td:nth-child(1) {
            float: right;
        }

        .remove-badge {
            color: darkred;
            float: right;
            padding-left: 10px;
        }

        .col-top {
            margin-top: 20px;
        }

        #client-error {
            display: none;
        }

        #cart-error {
            display: none;
        }
    </style>

  <script type="text/html" id="itemRowTemplate">
    <tr>
      <td><span data-content="quantity"></span> &times; <span data-content="item"></span> (@<span data-content="price"></span>)</td>
      <td>$<span data-content="total"></span></td>
    </tr>
  </script>

  <script type="text/html" id="cartTemplate">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-content="abandoned" data-format="PaidBadgeFormatter"></span>
        <span data-content="holdType" data-format="HoldTypeFormatter"></span>
        <span data-content="name"></span>
        <a class="remove-badge" href="#" data-id="delete_id"><i class="fas fa-minus-circle"></i></a>
        <span data-content="age" data-format="MinorFormFormatter" class="age"></span>
      </div>
      <table class="table cart-table">
        <thead>
          <tr data-class="state">
            <th>Badge Name</th>
            <th>Level</th>
            <th>Price</th>
           </tr>
        </thead>
        <tbody>
          <tr data-class="state">
            <td data-content="badgeName"></td>
            <td data-content="level"></td>
            <td><span class="price-line" data-content="price"></span></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr data-class="state">
            <th>Order Item</th>
            <th>Price</th>
           </tr>
        </thead>
        <tbody data-id="items_id"></tbody>
      </table>
    </div>
  </script>

  <script type="text/html" id="totalTemplate">
    <table class="total-table">
      <tr>
        <td>Subtotal:</td>
        <td>$<span data-content="subtotal"></span></td>
      </tr>
      <tr>
        <td>Discounts:</td>
        <td>-$<span data-content="total_discount"></span></td>
      </tr>
      <tr>
        <td>Donation to Charity:
        <td>$<span data-content="charityDonation"></span>
      </tr>
      <tr>
        <td>Donation to Convention:
        <td>$<span data-content="orgDonation"></span>
      </tr>
      <tr>
        <td><b>Total:</b>
        <td class="success"><b>$<span data-content="total"></span></b>
      </tr>
    </table>
  </script>
{% endblock %}

{% block javascript %}
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var refresh_cart;
var cartData = [];
var cartTemplateData = [];

var get_printable = function () {
    // Anything in the cart marked as paid is eligable for printing
    var printQueue = [];
    $.each(cartData.result, function(key, value) {
      if ((value.abandoned.toUpperCase() == "PAID") && (value.holdType === null)) {
          printQueue.push(value);
      }
    });

    if (printQueue.length > 0) {
        $("#print_button").removeAttr("disabled");
    } else {
        $("#print_button").attr("disabled", "disabled");
    }

    return printQueue;
};

var print_badges = function(e) {
    var printQueue = get_printable();
    var badge_preview = "";
    var stop = false;

    $.each(printQueue, function(idx, badge) {
        /*
        badge_number = prompt("Scan or key in badge stock number for " + badge.badgeName);
        if (badge_number == null) {
            stop = true;
            return false;
        }
        */
        badge_number = -1; //  auto-assign
        badge.badgeNumber = badge_number;
        badge.badgeNumber = -1;
        badge_preview += badge_number  + ' - ' + badge.badgeName + "\n";
    });

    if (stop) {
        return;
    }

    /*
    conf = confirm("Assign badge numbers?\n\n" + badge_preview);
    */

    conf = true;
    if (conf) {
        // assign badge number

        var printIDs = []
        $.each(printQueue, function(idx, badge) {
            printIDs.push(badge.id);
            $.getJSON("{% url 'registration:assignBadgeNumber' %}", { id : badge.id, number : badge.badgeNumber }, function (data) {
                if (!data.success) {
                    alert("Error while assigning badge number: " + data.message);
                }
            });
        });

        // print badges
        $.getJSON("{% url 'registration:onsitePrintBadges' %}?id=" + printIDs.join("&id="), function (data) {
            if (!data.success) {
                alert("Error while printing badges");
            }
            window.open(data.url);
        });
        // clear cart

        $.getJSON("{% url 'registration:onsiteAdminClearCart' %}");
        refresh_cart();
    }
};

$(document).ready(function () {
    $.addTemplateFormatter("MinorFormFormatter",
        function(value, template) {
          if (parseInt(value) < 18) {
            return '<span style="color: red">MINOR FORM REQUIRED</span>';
          }
          return "18+";
    });

    $.addTemplateFormatter("PaidBadgeFormatter",
        function(value, template) {
            if (value == "Paid") {
                return '<span class="label label-success">Paid</span>';
            } else {
                return '<span class="label label-warning">' + value + '</span>';
            }
    });


    /* This should probably be a checkbox instead, so that we can still send to a terminal's associated printer
    if (navigator.userAgent.match(/iPad|iPhone/)) {
        $("#pos").append('<option value="ios">This device (iOS)</option>');
    }
    if (navigator.userAgent.match(/Android/)) {
        $("#pos").append('<option value="android">This device (Android)</option>');
    }
    */

    $.addTemplateFormatter("HoldTypeFormatter",
        function(value, template) {
            if (value === null) {
                return '';
            } else {
                return '<span class="label label-danger">' + value + '</span>';
            }
    });

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    refresh_cart = function() {
      $("#cart-error").fadeOut();
      $.getJSON("{% url 'registration:onsiteAdminCart' %}", function(data) {
        cartData = data;
        var enable_print = false;
        var onHold = false;
        if (data.success) {
          cartTemplateData = [];
          orderItemsData = {};
          $.each( data.result, function( key, val ) {
            var level = "?";
            var price = "?";
            var state = "danger";
            if (val.effectiveLevel != null) {
                    level = val.effectiveLevel.name;
                    price = val.effectiveLevel.price;
                    state = "";
            }

            cartTemplateData.push({
                  name : val.firstName + ' ' + val.lastName,
                  badgeName : val.badgeName,
                  age : val.age,
                  abandoned : val.abandoned,
                  level : level,
                  price : price,
                  delete_id : "delete-" + val.id,
                  items_id: "order-items-" + val.id,
                  state : state,
                  holdType : val.holdType,
                  discount: val.discount,
                  level_discount: val.level_discount,
                  level_subtotal: val.level_subtotal,
                  level_total: val.level_total
            });
            orderItemsData[val.id] = val.attendee_options;
            if (val.discount) {
                orderItemsData[val.id].push({
                    quantity: 1,
                    item: "Discount "+val.discount.name,
                    price: "-"+val.discount.amount_off+" / "+val.discount.percent_off+"%",
                    total: val.level_discount
                });
            }

            if (!!val.holdType) {
              onHold = true;
              enable_print = false;
            }
          });
          $("#total").html("");
          $("#cart").html("");
          $("#cart").loadTemplate($("#cartTemplate"), cartTemplateData);
          $(".remove-badge").click(remove_badge);

          $.each(orderItemsData, function(key, val) {
              $("#order-items-"+key).loadTemplate($("#itemRowTemplate"), val);
          });

          var price = parseFloat(data.total);
          if (((!isNaN(price)) && (price != 0)) && (!onHold)) {
              $("#total").loadTemplate($("#totalTemplate"), data);
              $("#cash_button").removeAttr("disabled");
              $("#credit_button").removeAttr("disabled");
          } else {
              $("#cash_button").attr("disabled", "disabled");
              $("#credit_button").attr("disabled", "disabled");
          }

          get_printable();
        }

      })
      .fail(function (data) {
          $("#cart-error").html("A server error occured while refreshing the cart<br>"+data.message).fadeIn();
      });
    };

    refresh_cart();
    $("#refresh_button").click(function (e) {
        e.preventDefault();
        $("#cart").fadeOut(function () {
            refresh_cart();
            $(this).fadeIn();
        })
    });

    $(".add-badge").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        $(this).attr("disabled", "disabled");
        $.getJSON("{% url 'registration:onsiteAddToCart' %}", { id : id }, function (data) {
            if (data.success) {
                refresh_cart();
            } else {
                alert("Error while adding to cart");
            }
        });
    });

    $("#open-terminal").click(function (e) {
        e.preventDefault();
        $.getJSON("{% url 'registration:openTerminal' %}", {}, function (data) {
            if (!data.success) {
                alert("Error while opening terminal: " + data.message);
            }
        });
    });

    $("#close-terminal").click(function (e) {
        e.preventDefault();
        $.getJSON("{% url 'registration:closeTerminal' %}", {}, function (data) {
            if (!data.success) {
                alert("Error while closing terminal: " + data.message);
            }
        });
    });


    $("#credit_button").click(function (e) {
        e.preventDefault();
        $.getJSON("{% url 'registration:enablePayment' %}", {}, function (data) {
            if (!data.success) {
                alert("Error while closing terminal: " + data.message);
            }
        });
    });

    $("#cash_button").click(function (e) {
        e.preventDefault();
        tendered = prompt("Enter tendered amount");
        parsed = parseFloat(tendered.match(/(\d+).?(\d{0,2})?/));
        total = parseFloat(cartData.total);
        if (parsed < total) {
            alert("Insufficient payment. (Split tender unsupported)");
            return;
        }

        change = parsed - total;

        data = {
            'reference' : cartData.reference,
            'total' : total,
            'tendered' : tendered
        }
        $.getJSON("{% url 'registration:completeCashTransaction' %}", data, function (data) {
            if (data.success) {
                refresh_cart();
            } else {
                alert("Error while posting transaction to server");
            }
        });

        data = {
            'reference' : cartData.reference,
            'organisation' : cartData.orgDonation,
            'charity'  : cartData.charityDonation,
            'total' : total,
            'tendered' : tendered,
            'change' : change
        }

        $.getJSON("{{ printer_uri }}/print/drawer", data);

        alert("Change: $" + change);

    });


    var remove_badge = function (e) {
        e.preventDefault();
        var id = $(this).attr("id").split("-")[1];
        $.getJSON("{% url 'registration:onsiteRemoveFromCart' %}", { id : id }, function (data) {
            if (data.success) {
                refresh_cart();
            } else {
                alert("Error while removing from cart");
            }
        }).fail(function() {
            window.reload();
        });
    };

    $("#pos").change(function () {
      $("#terminal_form").submit();
    });

    $("#print_button").click(print_badges);

});

</script>
{% endblock %}
