<!doctype HTML>
<html>
    <head>
        <title>Print Dialog</title>
    </head>

    <body>
        <a href="{{ next }}">Go Back</a>
        <script>
                var w = window.open("{% url 'registration:pdf' %}" + "/?file={{ file }}", "", "width=400,height=400");
                window.location.href = "{{ next }}";

                /*
                w.onload = function () {
                    w.print();
                };

                window.setTimeout(function(){
                    window.location.href = "{{ next }}";
                }, 1000);
                */
        </script>
        <!-- redirect after close -->
    </body>
</html>
