<!doctype HTML>
<html>
    <head>
        <title>Print Dialog</title>
    </head>

    <body>
        <script>
            var w = window.open("{% url 'pdf' %}" + "/?file={{ file }}");
            w.onload = function () {
                w.print();
                w.onfocus = function () {
                    setTimeout(function () {
                        w.close();
                        {% if next %}
                            window.location.replace('{{ next }}');
                        {% endif %}
                    }, 10);
                };
            };
        </script>

        <!-- redirect after close -->
    </body>
</html>
