{% extends "registration/master.html" %}

{% block content %}

<div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your birthdate?</h4>
      </div>
      <div class="modal-body">
    	<p>Staff must be over the age of 18.</p>
	    <p>Please contact <a href="mailto:registration@furthemore.org">registration@furthemore.org</a> if you have any questions.</p>
      </div>
    </div>
  </div>
</div>

	{% if not staff %}
		<h1>Staff Registration - Furthemore 2018</h1>
		<p>Your session has expired. Please use the link in your registration email again to start over.</p>
	{% else %}

	<form class="form-horizontal" role="form" data-toggle="validator">
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Staff Registration - Furthemore 2018</h1>

		<p>Please review and update the information below. If you have any questions about this form, please contact <a href='mailto:registration@furthemore.org'>registration@furthemore.org</a>. Required fields are marked with a red asterisk (<span style="color:red;">*</span>)</p>

		<hr>
			
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full (Legal) Name <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" value="{{staff.attendee.firstName}}" placeholder="First Name" class="form-control" autofocus required data-error="First name is required. ">
                    </div>
		    <div class="col-sm-5">
                        <input type="text" id="lastName" value={{staff.attendee.lastName}} placeholder="Last Name" class="form-control" autofocus required data-error="Last name is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="email" id="email" value="{{staff.attendee.email}}" class="form-control" disabled />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="phone" id="phone" value="{{staff.attendee.phone}}" placeholder="Phone Number" class="form-control" required data-error="Phone number is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Address <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" id="add1" value="{{staff.attendee.address1}}" placeholder="Address Line 1" class="form-control" required data-error="Address is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" id="add2" value="{{staff.attendee.address2}}" placeholder="Address Line 2" class="form-control">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City/State <span style="color:red;">*</span></label>
		    <div class="col-sm-4">
			<input type="text" name="city" id="city" value="{{staff.attendee.city}}" placeholder="City" class="form-control" required data-error="City is required. ">
		    </div>
                    <div class="col-sm-5">
			<select class="form-control bfh-states" id="state" data-country="US" data-state="VA" name="state"></select>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">ZIP/Country <span style="color:red;">*</span></label>
		    <div class="col-sm-3">
			<input type="text" name="zip" id="zip" value="{{staff.attendee.postalCode}}" placeholder="ZIP Code" class="form-control" data-minlength="5" data-error="Zip code is required.">
		    </div>
                    <div class="col-sm-6">
			<select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>
				

                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" value="{{staff.attendee.birthdate|date:"Y-m-d"}}" class="form-control" placeholder="Select birthdate (yyyy-mm-dd)" required data-error="Date of birth is required."/>
			<p><button class="btn btn-link btn-sm" data-toggle="modal" data-target="#ageModal">Why do we need this?</button></p>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

		<hr/>
		<h3>Convention Info</h3>
        <p>If your department and/or title are not correct, contact the Staff Services department to have it corrected.</p>

                <div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Badge Name <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="badgeName" id="badgeName" value="{{badge.badgeName}}" placeholder="Badge Name" class="form-control" required data-error="Badge name is required.">
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors" style="padding-left:15px;"></div>
                </div>

                <div class="form-group">
                    <label for="department" class="col-sm-3 control-label">Department </label>
                    <div class="col-sm-9">
                        <input id="department" name="department"class="form-control" value="{{staff.department}}" disabled />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">Title </label>
                    <div class="col-sm-9">
                        <input type="text" id="title" name="title" value="{{staff.title}}" placeholder="Title" class="form-control form-control-text" disabled>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="shirt" class="col-sm-3 control-label">Shirt Size <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <select id="shirt" name="department" class="form-control" required></select>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
		<hr/>
		<h3>Emergency Contact Info</h3>
                <div class="form-group">
                    <label for="contactName" class="col-sm-3 control-label">Name <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="contactName" name="contactName" value="{{staff.contactName}}" placeholder="Contact Name" class="form-control form-control-text" required>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="contactRel" class="col-sm-3 control-label">Relationship <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="contactRel" name="contactRel" value="{{staff.contactRelation}}" placeholder="Relationship To You" class="form-control form-control-text" required>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="contactPhone" class="col-sm-3 control-label">Phone Number <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="phone" id="contactPhone" name="contactPhone" value="{{staff.contactPhone}}" placeholder="Phone Number" class="form-control form-control-text" required>
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>

		<hr/>
		<h3>Other Info</h3>
                <div class="form-group">
                    <label for="twitter" class="col-sm-3 control-label">Twitter Handle</label>
                    <div class="col-sm-9">
                        <input type="text" id="twitter" value="{{staff.twitter}}" name="twitter" placeholder="@somefurry" class="form-control form-control-text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="telegram" class="col-sm-3 control-label">Telegram Handle</label>
                    <div class="col-sm-9">
                        <input type="text" id="telegram" value="{{staff.telegram}}" name="telegram" placeholder="@somefurry" class="form-control form-control-text" />
                    </div>
                </div>
		<div class="form-group">
                    <label for="medical" class="col-sm-3 control-label">Medical Needs <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="medical" name="medical" value="{{staff.specialMedical}}" class="form-control form-control-text" required />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
		<div class="form-group">
                    <label for="food" class="col-sm-3 control-label">Dietary Needs <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="food" name="food" value="{{staff.specialFood}}" class="form-control form-control-text" required />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
		<div class="form-group">
                    <label for="skills" class="col-sm-3 control-label">Additional Skills <span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" id="skills" name="skills" value="{{staff.specialSkills}}" class="form-control form-control-text" required />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>

		<hr/>
        <h3>Attendee Level</h3>

		<div class="row" id="levelContainer"></div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" id="agreeToRules" name="agreeToRules" class="form-control form-control-checkbox" required />
			I agree to abide by Furthemore's Code of Conduct.
                    </div>
		    <div class="col-sm-offset-1 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
		<div class="form-group">
                    <div class="col-sm-12">
                        <button id="register" type="submit" class="btn btn-primary col-sm-6 col-sm-offset-6" aria-controls="profile" data-toggle="tab">Register</button>
		    </div>
                </div>
	</div>
	</div>
	{% csrf_token %}
	</div>
	</form>

	{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/html" id="levelTemplate">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
	<div class="panel price">
		<div class="panel-heading  text-center">
		<h3 data-content="name"></h3>
		</div>
		<div class="panel-body text-center">
			<p class="lead" style="font-size:40px"><strong data-content="price"></strong></p>
		</div>
		<div class="panel-footer">
			<a class="btn btn-lg btn-block btn-danger selectLevel" href="" data-id="levelId">Select</a>
			<a class="btn btn-default btn-block changeLevel" href="">Change Level?</a>
		</div>
	</div>
	</div>
</script>

<script type="text/html" id="optionBoolTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="checkbox" data-id="id" class="form-control form-control-text levelOptions" />
		</div>
	</div>
<div>
<script type="text/html" id="optionBoolReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="checkbox" data-id="id" class="form-control form-control-text levelOptions" required />
		</div>
	</div>
<div>

</script>
<script type="text/html" id="optionIntTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="number" data-id="id" class="form-control form-control-text levelOptions" min=0 />
		</div>
	</div>

</script>
<script type="text/html" id="optionIntReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="number" data-id="id" class="form-control form-control-text levelOptions" required min=0 />
		</div>
	</div>

</script>
<script type="text/html" id="optionStringTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions"
			data-template-bind='{"attribute": "placeholder", "value": "placeholder"}' />
		</div>
	</div>
</script>
<script type="text/html" id="optionStringReqTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<input type="text" data-id="id" max-length=15 class="form-control form-control-text levelOptions" required
			data-template-bind='{"attribute": "placeholder", "value": "placeholder"}' />
		</div>
	</div>
</script>
<script type="text/html" id="optionListTemplate">
	<div class="form-group">
		<label class="col-sm-3 control-label" data-content="name"></label>
		<div class="col-sm-9">
			<select data-id="id" class="form-control form-control-select levelOptions" 
			  data-template-bind='{"attribute": "options", "value": {"data": "options", "value":"value", "content":"content"}}'></select>
		</div>
	</div>
</script>

 <script type="text/javascript">
	var levelTemplateData = [];
	var staff = {{ jsonStaff|safe }} 
	var attendee = {{ jsonAttendee|safe }} 
	var currentLevel = {{ jsonLevel|safe }}
	var shirtSizes = [];

	$( "body" ).ready(function() {
        // only init the javascript datepicker if none is provided by the browser natively
        if (!Modernizr.inputtypes.date) {
            $("#birthDate").datepicker({
                changeMonth: true,
                changeYear: true
            });
        }
		$.getJSON("{% url 'pricelevels' %}", function(data) {
			levelData = data;
			var prevLevel = 45;
			if (currentLevel && currentLevel.hasOwnProperty("basePrice")){
				prevLevel = parseFloat(currentLevel.basePrice);
			}
			$.each( data, function( key, val ) {
				levelTemplateData.push({
					name: val.name,
					price: "$" + (val.base_price - prevLevel),
					levelId: "level_" + val.id,
				});
			});
			$("#levelContainer").loadTemplate($("#levelTemplate"), levelTemplateData);
			$(".changeLevel").hide();
			
		});
		$.getJSON("{% url 'shirtsizes' %}", function(data) {
			$.each(data, function(key, val) {
				$("#shirt").append("<option value='" + val.id + "'>" + val.name + "</option>");
			});
			shirtSizes = data;
		});
    });

	$("#levelContainer").on('click', 'a.selectLevel', function(e){
        e.preventDefault();
		clearLevels();
		var levelId = $(this).attr('id').split('_')[1];
		$.each( levelTemplateData, function( key, val ) {
			var id = val.levelId.split('_')[1];
			if (id == levelId){
				$("#regLevel").val(val.name);
				$("#levelContainer").loadTemplate($("#levelTemplate"), val);
				$(".changeLevel").show();
				$(".selectLevel").text("Selected!");
				generateOptions(id);
				return false;
			}
		});
        $("#levelContainer").get(0).scrollIntoView();
	});
	$("#levelContainer").on('click', 'a.changeLevel', function(e) {
        e.preventDefault();
		$("#levelContainer").loadTemplate($("#levelTemplate"), levelTemplateData);		
		$("#regLevel").val("");
		$(".changeLevel").hide();
        $("#levelContainer").get(0).scrollIntoView();
	});
	var clearLevels = function(){
		$.each( levelTemplateData, function( key, val ) {
			$("#"+val.levelId).text("Select " + val.name);
		});
		$("form").validator('update');
	};

	var generateOptions = function(levelId){
		var data = [];
		$.each(levelData, function(key, thing){
			if (thing.id == levelId){
				data = thing.options;
				return false;
			}
		});
		var container = $("<div id='optionsContainer' class='col-xs-6 col-sm-6 col-md-6 col-lg-8'><h4>Registration Options</h4><hr/></div>");
		$("#levelContainer").append(container);
		$.each( data, function(key, val) {
			if (val.value == "0.00"){
				var price = " (Free) ";
			} else {
				var price = " (+$" + val.value + ") "
			}
			var required = "";
			if (val.required) {required = "required";}
			switch (val.type){
				case "bool":
					var template = $("#optionBoolTemplate");
					if (val.required) {template = $("#optionBoolReqTemplate");}
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id
					}, {append: true});
					break;
				case "int":
					var template = $("#optionIntTemplate");
					if (val.required) {template = $("#optionIntReqTemplate");}
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id
					}, {append: true});
					break;
				case "string":
					var template = $("#optionStringTemplate");
					if (val.required) {template = $("#optionStringReqTemplate");}
					var placeholder = val.name;
					$("#optionsContainer").loadTemplate(template, {
						'name': val.name + " " + price,
						'id': "option_" + val.id,
						'placeholder': placeholder,
					}, {append: true});
					break;
				case "Jersey":
					break;
				case "StaffJersey":
					break;
				default:
					if (val.list == []){break;}
					var options = [];
					if (!val.required) {options.push({"content": "Select One...", "value": ""});}
					$.each(val.list, function (key, item) {
						options.push({"content": item.name, "value": item.id})
					});
					$("#optionsContainer").loadTemplate($("#optionListTemplate"), {
						'name': val.name + " " + price,
						'id': "option_" + val.id,
						'options': options
					}, {append: true});
					break;
			}
		});
		
		$("form").validator('update');
        $("#levelContainer").get(0).scrollIntoView();
	};

	var getOptions = function() {
		var options = $(".levelOptions");
                var data = [];
		$.each(options, function(key, option) {
			data.push({'id': option.id.split('_')[1], 'value': $(option).val()});
		});
		return data;
	};


	$("#country").on("change", function() {
		if ($(this).val() == "US"){
			$("#state").val("VA").removeAttr("disabled").attr("required", "required");
			$("#zip").val("").removeAttr("disabled").attr("required", "required");
		} else {
			$("#state").val("").attr("disabled", "disabled").removeAttr("required");
			$("#zip").val("").attr("disabled", "disabled").removeAttr("required");
		}
	});


	$("#register").click(doRegister);
	

	function doRegister(e) {
		e.preventDefault();
		$("form").validator('validate');
		var errorCount = $(".has-error").length;
		if (errorCount > 0) {return;}
        
        // Validate birthdate input
        if ($("#birthDate").val() == "") {
            alert("You must enter your birthdate to submit your registration.");
            return;
        }
        if (Modernizr.inputtypes.date) {
            // native datepicker - expect ISO date
            var birthdate = parseDate($("#birthDate").val());
        } else {
            // American middle-endian format put out by datepicker javascript
            var birthdate = new Date(Date.parse($("#birthDate").val()));
        }
        var age = getAge(birthdate);
        if (age < 18) {
            alert("You must be 18 by the first day of Furthemore to register online.")
            return;
        }

		$("#register").attr("disabled", "disabled");

		var data = {
			'attendee': {
				'id': attendee.id,
				'firstName': $("#firstName").val(), 'lastName': $("#lastName").val(), 
				'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(), 
				'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
				'birthdate' : $("#birthDate").val(), 'phone': $("#phone").val(), 
                'badgeName': $("#badgeName").val()
			}, 
			'staff': {
				'id': staff.id, 
				'twitter': $("#twitter").val(), 'telegram': $("#telegram").val(),
				'shirtsize': $("#shirt").val(), 'specialSkills': $("#skills").val(),
				'specialFood': $("#food").val(), 'specialMedical': $("#medical").val(),
				'contactPhone': $("#contactPhone").val(), 'contactName': $("#contactName").val(),
				'contactRelation': $("#contactRel").val(),
			},
			'priceLevel': { 'id': $(".selectLevel")[0].id.split('_')[1], 'options': getOptions() },
            'event': 'Furthemore 2018'
		};
		

		$.ajax({
		    "type": "POST",
		    "dataType": "json",
		    "url": "{% url 'addStaff' %}",
		    "data": JSON.stringify(data),
		    "beforeSend": function(xhr, settings) {
		        console.log("Before Send");
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
		    "error": function(result, status, error) {
			if (result.responseText == "") {
				alert("Your session has expired.");
			} else {
                        	alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact registration@furthemore.org for assistence.")
			}
			$("#register").removeAttr("disabled");
		    },
                    "success": function (result, status) {
                        if (result.success)
                        {
 	                    window.location = "{% url 'invoiceStaff' %}";
                        } else {
			    $("#register").removeAttr("disabled");
                    	    alert("An error has occurred. Please check the form for any error messages. If this error continues, please contact registration@furthemore.org for assistence.")
			}
                    }
		});
	}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});




 </script>

{% endblock %}
