{% extends "registration/master.html" %}
{% load mathfilters %}

{% block head %}
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

    <script type="text/javascript">
var paymentForm = new SqPaymentForm({
  // Initialize the payment form elements
  applicationId: "sandbox-sq0idp-kGRHLRan0Elu80JLAEQqQQ",
  locationId: "CBASED7NPDEnW3rjrTkuZBqR9vYgAQ",
  inputClass: 'form-control',
  // Initialize the credit card placeholders
  cardNumber: {
    elementId: 'sq-card-number',
    placeholder: '•••• •••• •••• ••••'
  },
  cvv: {
    elementId: 'sq-cvv',
    placeholder: 'CVV'
  },
  expirationDate: {
    elementId: 'sq-expiration-date',
    placeholder: 'MM/YY'
  },
  postalCode: {
    elementId: 'sq-postal-code',
    placeholder: '•••••'
  },
  // SqPaymentForm callback functions
  callbacks: {
    /*
     * callback function: cardNonceResponseReceived
     * Triggered when: SqPaymentForm completes a card nonce request
     */
    cardNonceResponseReceived: function(errors, nonce, cardData) {
      if (errors) {
        var errorList = "";
        console.log("Encountered errors:");
        errors.forEach(function(error) {
          console.log('  ' + error.message);
          errorList += error.message + "; ";
        });
        alert("One or more Square payment errors have occurred: " + errorList);
        $("#checkout").removeAttr("disabled");
        return;
      }
      document.getElementById('card-nonce').value = nonce;
      doCheckout();
    },
    /*
     * callback function: unsupportedBrowserDetected
     * Triggered when: the page loads and an unsupported browser is detected
     */
    unsupportedBrowserDetected: function() {
      /* PROVIDE FEEDBACK TO SITE VISITORS */
    },
    inputEventReceived: function(inputEvent) {
      switch (inputEvent.eventType) {
        case 'focusClassAdded':
          /* HANDLE AS DESIRED */
          break;
        case 'focusClassRemoved':
          /* HANDLE AS DESIRED */
          break;
        case 'errorClassAdded':
          /* HANDLE AS DESIRED */
          break;
        case 'errorClassRemoved':
          /* HANDLE AS DESIRED */
          break;
        case 'cardBrandChanged':
          /* HANDLE AS DESIRED */
          break;
        case 'postalCodeChanged':
          /* HANDLE AS DESIRED */
          break;
      }
    },
  }
});
    </script>
{% endblock %}

{% block content %}

{% if orderItems %}

	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Checkout</h1>
		<h3>Review the invoice below and checkout</h3>
		<hr>

		<h3>Your Order</h3>
			
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1"><h4>Attendee</h4></div>
				<div class="col-sm-2"><h4>Price</h4></div>   
			</div>

		{% for item in orderItems %}
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1">{{attendee}} - {{item.priceLevel}}</div>
				<div class="col-sm-2">${{item.priceLevel.basePrice}}</div>   
				<div class="col-sm-2">
				</div>
			</div>
			
			{% for option in item.getOptions %}
			<div class="row">
				{% if option.option.optionExtraType == "int" %}

				  <div class="col-sm-6 col-sm-offset-1">{{option.option}} x {{option.optionValue}}</div>
				  {% if option.option.optionPrice == 0 %}
				    <div class="col-sm-2">Free</div>
				  {% else %}
				    <div class="col-sm-2">${{option.option.optionPrice}} each</div>
				  {% endif %}

				{% else %}

				  <div class="col-sm-6 col-sm-offset-1">{{option.option}}</div>
				  {% if option.option.optionPrice == 0 %}
				    <div class="col-sm-2">Free</div>
				  {% else %}
				    <div class="col-sm-2">${{option.option.optionPrice}}</div>
				  {% endif %}

				{% endif %}

			</div>
			{% endfor %}
			{% if prevLevel %}
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1">Previously Paid</div>
				<div class="col-sm-2">-${{prevLevel.basePrice}}</div>   
				<div class="col-sm-2">
				</div>
			</div>
			{% endif %}
			<div class="row" style="height:10px;">&nbsp;</div>

		{% endfor %}
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1"><h4>Total</h4></div>
				<div class="col-sm-2"><h4>${{total}}</h4></div>   
			</div>

	
		<br/>
		<a id="cancel" href="#">Cancel</a>
		<hr/>
		{% if total > 0%}

		<form class="form-horizontal" role="form" data-toggle="validator">
		
		<h3>Extra Donations</h3>
		<div class="col-sm-11 col-sm-offset-1" style="padding-left:0px;padding-bottom:10px;">If you would like to make an extra gift to our annual charity, Frisky's, or to the convention, please enter it below.</div>
        <div class="form-group">
            <label for="donateCharity" class="col-sm-3 control-label">Donate to Frisky's</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" pattern="^\d+(?:\.\d{0,2})?$" placeholder="0.00" id="donateCharity" class="form-control validate"  data-error="Please use only numbers and a decimal." />
                </div>
            </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
        </div>
        <div class="form-group">
            <label for="donateOrg" class="col-sm-3 control-label">Donate to Furthemore</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" pattern="^\d+(?:\.\d{0,2})?$" placeholder="0.00" id="donateOrg" class="form-control validate"  data-error="Please use only numbers and a decimal." />
                </div>
            </div>
            <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
        </div>
		<hr/>


		<h3>Billing Information</h3>


		<div class="form-group">
                    <label for="useFrom" class="col-sm-3 control-label">Use Billing Info From</label>
                    <div class="col-sm-9">
                        <select id="useFrom" class="form-control" ><option value="" selected>The Fields Below</option>
			{% for oi in orderItems %}
			    <option value="{{oi.badge.attendee.id}}">{{oi.badge.attendee}}</option>
			{% endfor %}
			</select>
                    </div>
		</div>
		<div class="form-group">
                    <label for="billingName" class="col-sm-3 control-label">Billing Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="fname" placeholder="Billing First Name" class="form-control" required data-error="Billing name is required. " />
                    </div>
                    <div class="col-sm-5">
                        <input type="text" id="lname" placeholder="Billing Last Name" class="form-control" required data-error="Billing name is required. " />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
		<div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" required data-error="Email is required. " />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
		</div>
		<div class="form-group">
                    <label for="add1" class="col-sm-3 control-label">Billing Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" id="add1" placeholder="Address Line 1" class="form-control" required />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="add2" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" id="add2" placeholder="Address Line 2" class="form-control" />
                    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City/State/ZIP</label>
		    <div class="col-sm-4">
			<input type="text" name="city" id="city" placeholder="City" class="form-control" required data-error="City is required." />
		    </div>
                    <div class="col-sm-2">
			<select class="form-control bfh-states" id="state" data-country="US" data-state="VA" name="state"></select>
                    </div>
		    <div class="col-sm-3">
			<input type="text" name="zip" id="zip" placeholder="ZIP Code" class="form-control" data-minlength="5" data-error="Zip code is required." />
		    </div>
		    <div class="col-sm-offset-3 help-block with-errors"style=" padding-left:15px;"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
			<select id="country" class="form-control bfh-countries" data-country="US" name="country"></select>
                    </div>
		</div>
	<hr/>
        <div class="form-group">
                    <label for="ccNumber" class="col-sm-3 control-label">Credit Card Number<span style="color:red;">*</span></label>
                    <div class="col-sm-9">
                        <div id="sq-card-number"></div>
                    </div>
                </div>
        <div class="form-group">
                    <label for="ccMonth" class="col-sm-3 control-label">Expiration Date<span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        <div id="sq-expiration-date"></div>
                    </div>
                    <label for="ccCVV" class="col-sm-1 control-label">CVV<span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        <div id="sq-cvv"></div>
                    </div>
                    <label for="ccZip" class="col-sm-2 control-label">Zip Code<span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        <div id="sq-postal-code"></div>
                    </div>

        </div>
        <br/>
        <input type="hidden" id="card-nonce" name="nonce">
        {% csrf_token %}
		<div class="form-group" style="margin-right:0px;">
			<button class="btn btn-primary col-sm-3 col-sm-offset-9" style="padding-right:10px;" id="checkout">Checkout</button>
		</div>
 		</form>
		

		{% else %}

			{% csrf_token %}
			<div class="row">
				<a class="btn btn-primary col-sm-3 col-sm-offset-9" id="checkout">Checkout</a>
			</div>

		{% endif %}

	</div>
	</div>
{% else %}

	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Checkout</h1>
		<h3>There are no dealers in your order</h3>
		<div>Please click on the link in your email to begin.</div>


	</div>
	</div>

{% endif %}

{% endblock %}


{% block javascript %}
<script type="text/javascript">
	var addresses = [];
	$( "body" ).ready(function() {
        $.getJSON("{% url 'addresses' %}", function(data) {
		    addresses = data;
        });		
	});

	$("#useFrom").on("change", function(e) {
		var userId = $(this).val();
		if (userId == ""){
			$("#fname").val("");
			$("#lname").val("");
			$("#email").val("");
			$("#add1").val("");
			$("#add2").val("");
			$("#city").val("");
			$("#state").val("");
			$("#country").val("");
			$("#zip").val("");
			return;
		}

		$.each(addresses, function (key, item) {
			if (item.id != userId) { return; }
			$("#fname").val(item.fname);
			$("#lname").val(item.lname);
			$("#email").val(item.email);
			$("#add1").val(item.address1);
			$("#add2").val(item.address2);
			$("#city").val(item.city);
			$("#state").val(item.state);
			$("#country").val(item.country);
			$("#zip").val(item.postalCode);
		});
	});

	$("#cancel").click(function(e){
        $.getJSON("{% url 'flush' %}", function(data) {
			window.location.reload();
        });		
	});

	$("#checkout").click(function (e) {
		e.preventDefault();
		$("form").validator('validate');
		var errorCount = $(".has-error").length;
		if (errorCount > 0) {return;}

		$("#checkout").attr("disabled", "disabled");

        {% if total > 0 %}
            paymentForm.requestCardNonce();
        {% else %}
            doCheckout();
        {% endif %}
	});

    function doCheckout() {
		{% if total > 0 %}
		var data = {
		    'billingData': {
                'nonce': $("#card-nonce").val(),
			    'cc_firstname': $("#fname").val(), 'cc_lastname': $("#lname").val(), 'email': $("#email").val(),
                'address1': $("#add1").val(), 'address2': $("#add2").val(), 'city': $("#city").val(),
                'state': $("#state").val(), 'country': $("#country").val(), 'postal': $("#zip").val(),
		    },
		    'charityDonation': $("#donateCharity").val(),
		    'orgDonation': $("#donateOrg").val()
		};
		{% else %}
		var data = {};

		{% endif %}

		$.ajax({
		    "type": "POST",
		    "dataType": "json",
		    "url": "{% url 'checkoutUpgrade' %}",
		    "data": JSON.stringify(data),
		    "beforeSend": function(xhr, settings) {
		        console.log("Before Send");
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
		    "error": function(result, status, error) {
                alert("An error has occurred. If this error continues, please contact registration@furthemore.org for assistence.")
	    		$("#checkout").removeAttr("disabled");
		    },
            "success": function (result, status) {
                if (result.success) {
			    	window.location = "{% url 'doneUpgrade' %}";
                } else {
                    if (result.mesage.indexOf("email") > -1) {
                            alert(result.message);
                            window.location = "{% url 'doneUpgrade' %}";
                    } else {
                        alert("An error has occurred: " + result.message + " If this error continues, please contact registration@furthemore.org for assistence.");
			            $("#checkout").removeAttr("disabled");
                    }
			    }
            }
		});

    }


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

</script>
{% endblock %}
