{% extends "registration/master.html" %}

{% block content %}
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="personal">
		<h1>Registration - Furrydelphia 2017</h1>
		<h3>Thank you for your upgrade!</h3>
		<hr>
		<p>Thank you for upgrading your registration!</p>
        <p>You should receive an email confirmation shortly. See you at the con!</p>
		<p style='float:right;'><a href='http://www.furrydelphia.org'>Back to Main Page</a></p>
	</div>
	</div>
{% endblock %}
