{% extends "registration/utility_pages.html" %}

{% block content %}

  <h2>Attendees</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Badge Name</th>
      <th scope="col">##</th>
      <th scope="col">P</th>
      <th scope="col">Level</th>
      <th scope="col">Discount</th>
      <th scope="col">Assoc</th>
      <th scope="col">Conbook</th>
      <th scope="col">Tshirt</th>
      <th scope="col">GOH</th>
    </tr>
    </thead>
    <tbody>
    {% for att in attendees %}
      <tr>
        <td>{{ att.firstName }}</td>
        <td>{{ att.lastName }}</td>
        <td>{{ att.badgeName }}</td>
        <td>{{ att.badgeNumber|stringformat:"04d" }}</td>
        <td>{{ att.printed }}</td>
        <td>{{ att.level }}</td>
        <td>{{ att.discount }}</td>
        <td>{{ att.assoc }}</td>
        <td>{{ att.orderItems.ConBook }}</td>
        <td>{{ att.orderItems.Tshirt }}</td>
        <td>{{ att.orderItems.ExtraGuestofHonorDinnerTickets }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Dealers</h2>

  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Badge Name</th>
      <th>Level</th>
      <th>Assoc</th>
      <th>Conbook</th>
      <th>Tshirt</th>
      <th>GOH</th>
    </tr>
    </thead>
    <tbody>
    {% for att in dealers %}
      <tr>
        <td>{{ att.firstName }}</td>
        <td>{{ att.lastName }}</td>
        <td>{{ att.badgeName }}</td>
        <td>{{ att.level }}</td>
        <td>{{ att.assoc }}</td>
        <td>{{ att.orderItems.ConBook }}</td>
        <td>{{ att.orderItems.Tshirt }}</td>
        <td>{{ att.orderItems.ExtraGuestofHonorDinnerTickets }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Dealer Assistants</h2>
  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Badge Name</th>
      <th>Level</th>
      <th>Discount</th>
      <th>Assoc</th>
      <th>Conbook</th>
      <th>Tshirt</th>
      <th>GOH</th>
    </tr>
    </thead>
    <tbody>
    {% for att in attendees %}
      {% if att.discount == "FMDealerPartner18" %}
        <tr>
          <td>{{ att.firstName }}</td>
          <td>{{ att.lastName }}</td>
          <td>{{ att.badgeName }}</td>
          <td>{{ att.level }}</td>
          <td>{{ att.discount }}</td>
          <td>{{ att.assoc }}</td>
          <td>{{ att.orderItems.ConBook }}</td>
          <td>{{ att.orderItems.Tshirt }}</td>
          <td>{{ att.orderItems.ExtraGuestofHonorDinnerTickets }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>


  <h2>Staff</h2>

  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Badge Name</th>
      <th>##</th>
      <th>Title</th>
      <th>Level</th>
      <th>Assoc</th>
      <th>Conbook</th>
      <th>Tshirt</th>
      <th>GOH</th>
    </tr>
    </thead>
    <tbody>
    {% for att in staff %}
      <tr>
        <td>{{ att.firstName }}</td>
        <td>{{ att.lastName }}</td>
        <td>{{ att.badgeName }}</td>
        <td>S{{ att.badgeNumber|stringformat:"03d" }}</td>
        <td>{{ att.title }}</td>
        <td>{{ att.level }}</td>
        <td>{{ att.assoc }}</td>
        <td>{{ att.orderItems.ConBook }}</td>
        <td>{{ att.orderItems.Tshirt }}</td>
        <td>{{ att.orderItems.ExtraGuestofHonorDinnerTickets }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}
