
<h3>Attendees</h3>
<table border="1">
<tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Badge Name</td>
  <td>##</td>
  <td>P</td>
  <td>Level</td>
  <td>Discount</td>
  <td>Assoc</td>
  <td>Conbook</td>
  <td>Tshirt</td>
  <td>GOH</td>
</tr>
{% for att in attendees %}
  <tr>
    <td>{{att.firstName}}</td>
    <td>{{att.lastName}}</td>
    <td>{{att.badgeName}}</td>
    <td>{{att.badgeNumber|stringformat:"04d"}}</td>
    <td>{{att.printed}}</td>
    <td>{{att.level}}</td>
    <td>{{att.discount}}</td>
    <td>{{att.assoc}}</td>
    <td>{{att.orderItems.ConBook}}</td>
    <td>{{att.orderItems.Tshirt}}</td>
    <td>{{att.orderItems.ExtraGuestofHonorDinnerTickets}}</td>
  </tr>
{% endfor %}

</table>

<h3>Dealers</h3>

<table border="1">

<tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Badge Name</td>
  <td>Level</td>
  <td>Assoc</td>
  <td>Conbook</td>
  <td>Tshirt</td>
  <td>GOH</td>
</tr>
{% for att in dealers %}
  <tr>
    <td>{{att.firstName}}</td>
    <td>{{att.lastName}}</td>
    <td>{{att.badgeName}}</td>
    <td>{{att.level}}</td>
    <td>{{att.assoc}}</td>
    <td>{{att.orderItems.ConBook}}</td>
    <td>{{att.orderItems.Tshirt}}</td>
    <td>{{att.orderItems.ExtraGuestofHonorDinnerTickets}}</td>
  </tr>
{% endfor %}

</table>

<h3>Dealer Assistants</h3>
<table border="1">
<tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Badge Name</td>
  <td>Level</td>
  <td>Discount</td>
  <td>Assoc</td>
  <td>Conbook</td>
  <td>Tshirt</td>
  <td>GOH</td>
</tr>
{% for att in attendees %}
  {% if att.discount == "FMDealerPartner18" %}
  <tr>
    <td>{{att.firstName}}</td>
    <td>{{att.lastName}}</td>
    <td>{{att.badgeName}}</td>
    <td>{{att.level}}</td>
    <td>{{att.discount}}</td>
    <td>{{att.assoc}}</td>
    <td>{{att.orderItems.ConBook}}</td>
    <td>{{att.orderItems.Tshirt}}</td>
    <td>{{att.orderItems.ExtraGuestofHonorDinnerTickets}}</td>
  </tr>
  {% endif %}
{% endfor %}

</table>


<h3>Staff</h3>

<table border="1">
<tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Badge Name</td>
  <td>##</td>
  <td>Title</td>
  <td>Level</td>
  <td>Assoc</td>
  <td>Conbook</td>
  <td>Tshirt</td>
  <td>GOH</td>
</tr>
{% for att in staff %}
  <tr>
    <td>{{att.firstName}}</td>
    <td>{{att.lastName}}</td>
    <td>{{att.badgeName}}</td>
    <td>S{{att.badgeNumber|stringformat:"03d"}}</td>
    <td>{{att.title}}</td>
    <td>{{att.level}}</td>
    <td>{{att.assoc}}</td>
    <td>{{att.orderItems.ConBook}}</td>
    <td>{{att.orderItems.Tshirt}}</td>
    <td>{{att.orderItems.ExtraGuestofHonorDinnerTickets}}</td>
  </tr>
{% endfor %}


</table>



