
<h1>VIP Attendees</h1>

{% for ev in events %}

<h2>{{ev.name}}</h2>

<table border="1" cellspacing="0" cellpadding="6">
<tr>
  <th>Level</th>
  <th>Status</th>
  <th>Badge Name</th>
  <th>Real Name</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Email</th>
  <th>Options </th>
</tr>
{% for b in badges %}
  {% if b.badge.event == ev %}
  <tr>
    <td>{{b.level}}</td>
    <td>{{b.assoc}}</td>
    <td>{{b.badge.badgeName}}</td>
    <td>{{b.badge.attendee.firstName}} {{b.badge.attendee.lastName}}</td>
    <td>{{b.badge.attendee.address1}} {{b.badge.attendee.city}} {{b.badge.attendee.state}} {{b.badge.attendee.postal}} {{b.badge.attendee.country}}</td>
    <td>{{b.badge.attendee.phone}}</td>
    <td>{{b.badge.attendee.email}}</td>
    <td>
        {% for oi in b.orderItems %}
            {{oi.name}} - {{oi.value}}
            </br> 
        {% endfor %}

    </td>
  </tr>
  {% endif %}
{% endfor %}

</table>


{% endfor %}



