
<h1>VIP Attendees</h1>

{% for ev in events %}

<h2>{{ev.event}}</h2>

<table border="1" cellspacing="0" cellpadding="6">
<tr>
  <th>Level</th>
  <th>Status</th>
  <th>Badge Name</th>
  <th>Real Name</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Email</th>
  <th>Options </th>
</tr>
{% for att in ev.attendees %}
  <tr>
    <td>{{att.level}}</td>
    <td>{{att.assoc}}</td>
    <td>{{att.badgeName}}</td>
    <td>{{att.firstName}} {{att.lastName}}</td>
    <td>{{att.address}} {{att.city}} {{att.state}} {{att.postal}} {{att.country}}</td>
    <td>{{att.phone}}</td>
    <td>{{att.email}}</td>
    <td>
        {% for oi in att.orderItems %}
            {{oi.name}} - {{oi.value}}
            </br> 
        {% endfor %}

    </td>
  </tr>
{% endfor %}

</table>


{% endfor %}



